.section_11 {
    //padding-left: 8px;
    //padding-right: 8px;    
    //padding-bottom: 111px;   


    & .section_11__header {
        font-family: "Almarai-700";
        font-size: 28px;
        line-height: 43px;
        @include ls(0);
        //margin-bottom: 0;
        //margin-top: 138px;

        @include respond-to(sm) {
            //margin-top: 80px;
            font-size: 24px;
            line-height: 24px;
        }
    }
   

    & .section_11__text {
        font-family: "Mulish-600";
        font-size: 20px;
        line-height: 28px;
        @include ls(25);
        //margin-bottom: 0;
        margin-top: 22px;

        @include respond-to(sm) {
            font-size: 16px;
            line-height: 24px;
            line-height: 22px;
        }
    }
}

