.section_106 {
    @extend .row;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;

    @include respond-to(sm) {
        display: none;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    & ol ol {
        padding-left: 30px !important;

        li {
            margin-top: 5px !important;
        }
    }

    & > div:nth-child(1) {
        @extend .container;
        @extend .cont-site;

        @include respond-to(sm) {
            display: none;
        }

        & > ul > li{
            margin-top: 0px !important;
        }

    }

    & .section_106_accordion {

        & .accordion-header {
            margin-top: 20px !important;
        }

        & .accordion-button {
            height: 45px !important;
            
            &:after {
                height: 45px;
                width: 45px;
                margin-left: 20px;
                background-image: url('../img/svg/acc-arrow-down_45.svg');
                background-position: center center;
                background-size: contain;
            }
           
            &:not(.collapsed)::after {
                background-image: url('../img/svg/acc-arrow-up_45.svg');
    
            }

            & h3 {
                margin-top: 0 !important;
            }
        }

    }

}




.section_37  {
    @extend .row;
    margin-top: 70px !important;
    overflow: hidden;

    @include respond-to(sm) {
        margin-top: 25px;
    }


    & > div:nth-child(1) {
        @extend .container;
        @extend .cont-site;
        width: 100%;
        display: flex;

        & > div:nth-child(1) {
            margin-top: 55px;
        }
    
        
        
        
        
        
        
        
        
        
        & .section_37__data {
    
    
            & .block_4__text {
                font-family: "Muli-600";
                font-size: 24px;
                line-height: 30px;
                @include ls(50);
            }
    
            & .block_4__header {
                margin-top: 65px;
            }
    
            & .block_4__text_add  {
                font-family: "Muli-300";
                font-size: 16px;
                line-height: 18px;
                @include ls(25);
            }
            
            & .section_37__text_table {
                font-family: "Mulish-800";
                font-size: 16px;
                line-height: 24px;
                @include ls(25);
            }
    
            & .section_37__img-cont {
                
                @include respond-to(md) {
                    width: 80%;
                    overflow: hidden;
                }
    
                @include respond-to(sm) {
                    width: 100%;
                    right: -25px;
                }
            }
    
            & .section_37__image {
                
                @include respond-to(md) {
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                }
    
                @include respond-to(sm) {
                    width: 70vw;
                }
            }
    
            & .mock {
                height: 587px;
                width: 330px;
    
    
                & .section_37__img-cont_dt {
                    height: 587px;
                    width: 800px;
                    //border: 3px solid red;
                    overflow: hidden;
    
                    & .section_37__image_dt {
                        @include respond-to(lg) {
                            left: -150px;
                        }
                    }
    
                }
            }
    
    
    
    
            & .section_37_accordion {
    
                & .accordion-button:after {
                    background-image: url('../img/svg/accordion__arrow_blue_down.svg');
                    background-size: 45%;
                    background-position: center center;
                }
               
                & .accordion-button:not(.collapsed)::after {
                    //transform: rotate(180deg)!important;
    
                    background-image: url('../img/svg/accordion__arrow_blue_up.svg');
        
                }
            }
    
    
    
        }
    
    
        & .section_37__table-2  {
    
            & .table-2__item span:first-child {
                @include respond-to(sm) {
                    font-family: "Mulish-700";
                }
            }
        }
    

        & .section_37__accordions {
            
            
            & .section_37_accordion {
    
                & .accordion-item {
    
                    & .accordion-header {
    
                        & .accordion-button {
                            font-family: "Mulish-700";
                            font-size: 20px;
                            line-height: 24px;
                            @include ls(25);
                            height: 45px;
    
                            &:after {
                                height: 45px;
                                width: 45px;
                                margin-left: 20px;
                                background-image: url('../img/svg/acc-arrow-down_45.svg');
                                background-position: center center;
                                background-size: contain;
                            }
                           
                            &:not(.collapsed)::after {
                                //transform: rotate(180deg)!important;
                                background-image: url('../img/svg/acc-arrow-up_45.svg');
                    
                            }   
    
                        }
    
                    }
                }
    
            }
    
        }




    }


    
}