.section_17_bg {

    background:linear-gradient(270deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
    padding-bottom: 68px;
    background-position: 100% 0%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include respond-to(md) {
        background: linear-gradient(180deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
        margin-bottom: 0;
        padding-bottom: 0px;
        //background: none;
    }

    @include respond-to(sm) {
        //background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
        background: linear-gradient(180deg, rgba(255,255,255,1) 250px, rgba(231,242,242,1) 250px, rgba(231,242,242,1) 100%);
    }


}

.section_17 {
    min-height: 700px; 
    
    padding-left: 8px !important;
    padding-right: 8px !important;


    & .section_17__data {


        @include respond-to(md) {
            padding-top: 0;
            padding-bottom: 0;
        }

        & .section_17__textarea {

            padding-left: 0 !important;
            padding-right: 0 !important;

            
            & .section_17__img_mobile {
                display: none;

                @include respond-to(md) {
                    display: block;
                    top: -90px;
                    left: -30px;
                    width: 60vw;
                    z-index: 20;
                    height: 100%;
                }
            }

        }





        & .section_17__img-wrapper {
            margin-bottom: 0;
            //border: 2px solid red;
    
            @include respond-to(md) {
                top: 0; 
                left: 25%;
                position: relative !important;
                order: -1;
                height: 500px;
                width: 900px !important;
                //overflow: hidden;
                //background-image: url("../img/yellow_bubbles.jpg");
                margin-bottom: 44px;
                //z-index: 60;
                //border: 2px solid red;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                //background-size: 100% 50%;
                margin-bottom: 0;
            }
             
            @include respond-to(sm) {
                background-size: auto 100%;
                height: 320px;
            }
    
            
            & .section_17__image {
                height: 464px;
                width: auto;
                left: 50%;
                top: 98px;

    
                @include respond-to(md) {
                    display: none;
                    z-index: -1;
                }
            }
    
        }



    }




}

