.section_9_bg {
    padding-top: 57px;
    padding-bottom: 90px;


    @include respond-to(sm) {
        padding-top: 64px;
        padding-bottom: 74px;

    }


}

.section_9__data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;


    @include respond-to(sm) {
        flex-direction: column;
    }

    & .section_9__left {
        width: 50%;

        @include respond-to(sm) {
            width: 100%;
        }

        & .section_9__left_text {
            max-width: 70%;
            font-family: "Play-700";
            font-size: 30px;
            line-height: 40px;
            color: $blue-1;
            margin-bottom: 0;
            letter-spacing: 0.15rem;

            @include respond-to(lg) {
                font-size: 27px;
                line-height: 36px;
            }

            @include respond-to(md) {
                font-size: 27px;
                line-height: 36px;
                max-width: 85%;

            }

            @include respond-to(sm) {
                max-width: 100%;
                font-size: 26px;
                line-height: 34px;
            }
        }
    }

    & .section_9__right {
        width: 50%;
        padding: 0;

        @include respond-to(sm) {
            width: 100%;
            margin-top: 18px;
        }

        & .section_9__right_text {
            font-family: "Mulish-400";
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 39px;
            letter-spacing: 0.05rem;


            @include respond-to(sm) {
                max-width: 100%;
                font-size: 16px;
                line-height: 24px;
            }
        }

        & .section_9__button {
            max-width: 350px;
            margin-top: 19px;


            @include respond-to(sm) {
                margin-left: auto;
                margin-right: auto;
                margin-top: 24px;
            }

            @include respond-to(xs) {
                width: 100% !important;
                max-width: 100% !important;
            }

        }
    }
}

