.section_10 {
    background-image: url('../img/pages/page_about_policy.jpg'); 
    background-size: cover;
    background-position: center;
    height: 623px;
    padding-left: 8px;
    padding-right: 8px;       

    & .section_10__sub-cont {
        background-color: $dark-blue-1;
        background-image: url('../img/svg/plenco_watermark_2.svg');    
        background-repeat: no-repeat;
        //background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: 99% auto;
        background-position: center 5px;
        min-height: 360px;
        padding-top: 78px;
        padding-bottom: 38px;
        padding-left: 0 !important;
        padding-right: 0 !important;

        @include respond-to(md) {
            padding-top: 108px;

        }

        @include respond-to(sm) {
            padding-top: 78px;
            padding-bottom: 47px;
        }

        & .section_10__data {
            width: 100%;
            padding-left: 118px;
            padding-right: 118px;

            @include respond-to(lg) {
                padding-left: 90px;
                padding-right: 9    0px;
            }
            @include respond-to(md) {
                padding-left: 60px;
                padding-right: 60px;
            }
            @include respond-to(sm) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @include respond-to(xs) {
                padding-left: 24px;
                padding-right: 24px;
            }




            & .section_10__header {
                font-family: "Almarai-700";
                font-size: 28px;
                line-height: 140%;
                color: $white;
                padding-left: 0 !important;
                padding-right: 0 !important;
                text-align: center;
                @include ls(50);
    
                @include respond-to(sm) {
                    font-size: 24px;
                    @include ls(0);
                }
            }
    
            & .section_10__text {
                margin-top: 12px;
                margin-bottom: 28px;
                color: $white;
                font-family: "Mulish-400";
                font-size: 18px;
                @include ls(25);;
                line-height: 22px;
                padding-left: 0 !important;
                padding-right: 0 !important;
    
                @include respond-to(sm) {
                    font-size: 16px;
                    margin-top: 24px;
                    margin-bottom: 37px;
                }
            }
    
    
            & .section_10__button {
                //font-size: 20px;
                //margin-top: 28px;
                max-width: 349px;
                //width: auto;
                margin-left: auto;
                margin-right: auto;
    
                @include respond-to(xs) {
                    font-size: 16px;
                }
            }






        }


    }
}
