.section_6_bg {
    background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
    
    @include respond-to(sm) {
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
    }
}



.section_6 {
  

    & .section_6__header {
        font-family: "Almarai-700";
        font-size: 28px;
    }
    
    & .gallery_1__item {
        max-width: 30%; 
        background-color: $blue-1;

        @include respond-to(md) {
            max-width: none;

        }
    } 




    & .gallery_1__item__img {
        width: 100%;
        height: 187px;
    }

    & .gallery_1__item__descr-cont {
        height: 91px;
    }

    & .gallery_1__item__text {
        font-family: "Almarai-700";
        font-size: 20px;
    }
}