.section_21_bg {
    padding-top: 0 !important;
    min-height: 182px;
    margin: 0s;
    padding: 0; 
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;

    @include respond-to(sm) {
        min-height: 254px;
        overflow: visible;
    }
    

}


.section_21 {
    background-color: rgba($blue-1, 0.85);

    min-height: 182px;
    //padding-left: 8px !important;
    //padding-right: 8px !important;
    padding-top: 0;
    //display: flex;
    //align-items: center;

    @include respond-to(sm) {
        min-height: 254px;
        padding-top: 0;
        padding-bottom: 22px;
        //align-items: flex-start;
    }


    & .section_21__content {

        //display: flex;
        //justify-content: space-between;
        //align-items: center;

        @include respond-to(sm) {
            //flex-direction: column;
            //justify-content: flex-start;
        }



        & .section_21__left {
            position: relative;
    
            & .section_21__header {
                font-family: "Play-700";
                @include ls(25);
                //line-height: 18px;
                font-size: 44px;
                color: $light-blue-3;
                margin-bottom: 0;

                @include respond-to(md) {
                    font-size: 30px;
                    @include ls(25);
                }

                @include respond-to(sm) {
                    padding-top: 54px;
                    font-size: 30px;
                    @include ls(100);
                    line-height: 30px;
                    //text-align: center;
                }
            }
        
            & .section_21__text {
                font-family: "Muli-600";
                @include ls(50);
                line-height: 30px;
                font-size: 24px;
                color: $white;
                margin-bottom: 0;
                margin-top: 7px;
                
                @include respond-to(md) {
                    line-height: 26px;
                    font-size: 18px;
                }

                @include respond-to(sm) {
                    line-height: 26px;
                    font-size: 22px;
                    margin-top: 15px;
                }
            }

            &::before {
                content: "";
                position: absolute;
                height: 7px;
                width: 150px;
                background-color: $light-blue-2;
                left: -180px;
                top: 27px;

                
                @include respond-to(sm) {
                    display: none;
                }
            }
    
        }

        & .section_21__right {
            align-self: flex-end;
            position: relative;

            
            @include respond-to(sm) {
                align-self: center;
            }
            
            & .section_21__button {
                width: 331px;

                @include respond-to(sm) {
                    width: 251px;
                    margin-top: 23px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                height: 7px;
                width: 150px;
                background-color: $light-blue-2;
                right: -182px;
                top: 22px;

                @include respond-to(sm) {
                    display: none;
                }
            }
        }

    }

    &::before {

        @include respond-to(sm) {
            content: "";
            position: absolute;
            left: 50%;
            top: -21px;
            width: 7px;
            height: 62px;
            background-color: $light-blue-2;
        }
    }


}

