.section_7_bg {
    background-image:  url("../img/svg/homepage__heading_bottom_bg-image.svg");
    background-color: $dark-blue-1;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: auto auto;
    
    @include respond-to(sm) {
        background-image:  url("../img/svg/homepage__heading_bottom_bg-image_mob.svg");
        
    }


    & .section_7__bg_img {
        height: 640px;
        background-image:  url("../img/homepage__hero__bg-img.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.5;
        z-index: 0;
    }

}


.section_7 {
  
    //height: 1400px; //!!!

    @include respond-to(sm) {
        padding-top: 78px;
        padding-bottom: 47px;
    }

    & .section_7__center-block__cont {


        & .section_7__center-block {
            background-color: $dark-blue-1;
            z-index: 10;
    
            & .section_7__center__header {
                font-family: "Play-700";
                font-size: 44px;
            }
        
            & button {
                @include respond-to(lg) {
                    font-size: 16px;
                }

                @include respond-to(sm) {
                    padding-left: 30px;
                    padding-right: 30px;
                    height: 66px;
                }
            }
        } 


        & .section_7__center-block__line {
            height: 120%;
            width: 5px;
            position: absolute;
            background-color: #FFF;
            opacity: 0.3;
            top: -45px;
            left: 50%;
            z-index: 1;
    
            @include respond-to(sm) {
                height: 130%;
                top: -50px;
                width: 4px;
            }
        }
    }




    & .section_7__cards-wrap {

        @include respond-to(sm) {
            margin-top: 140px;
        }

        & .section_7__cards-wrap__line{
            top: 82%;
            left: 30%;
            width: 40%;
            height: 5px;
            background-color: $black;
            border-radius: 3px;
        }

    }


    & .section_7__card {
        background-color: $green_el;
        height: 114px;
        width: 23%;

        @include respond-to(sm) {
            width: 49%;
            min-width: 145px;
        }
        


        & .section_7__card__text_header {
            font-family: "Almarai-700";
            font-size: 18px;
            line-height: 23px;

            @include respond-to(md) {
                font-size: 16px;
            }
        }

        & .section_7__card__text_category {
            font-family: "Play-700";
            font-size: 18px;
            color: $blue-1;
        }


    }

    & .section_7__text_bottom_main {
        font-family: "Almarai-700";
        font-size: 34px;


        @include respond-to(md) {
            font-size: 28px;
        }

        @include respond-to(sm) {
            font-size: 22px;
            margin-top: 50px;
        }
    }

    & .section_7__text_bottom {
        font-family: "Mulish-400";
        font-size: 18px;

        
        @include respond-to(sm) {
            font-size: 16px;
        }
    }

    & .section_7__buttons-wrap {
        width: 446px;
        margin-top: 34px;

        @include respond-to(md) {
            justify-content: space-around;
        }

        @include respond-to(sm) {
            margin-top: 20px;
            width: 100%;
        }

        & button {
            width: 208px;

            @include respond-to(md) {
                width: 180px;
            }

            @include respond-to(xs) {
                width: 45%;

            }
        }
    }

}