@import './base/global';
@import './components/global';
@import './layouts/global';
@import './pages/global';  
//@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$theme-colors: map-merge($theme-colors, $site-themes);
//$colors: map-merge($colors, $site-colors);

$theme-colors: map-merge($theme-colors, $site-themes);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");
 
@import '../../../node_modules/bootstrap/scss/bootstrap';

