{% extends "../_layout.twig" %}
{% set pageTitle = 'Certifications' %}
{% set pageClass = 'body_certifications' %}

{% set page_certifications = {
    heading: {
        heading_top_text: "Certifications",
        bg_img: "./assets/img/pages/certifications/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    },
}%}
 


{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig'  with {data: page_certifications.nav_side} %}

    {% include '../components/sections/section_heading_top.twig' with {data: page_certifications.heading} %}
    

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">At Plastics Engineering Company, we conform to a set of 
                        specialized standards that help our company and products achieve expected results and 
                        <span class='text-blue-l2'>continually improve all of our business processes</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1">We believe that having a consistent process will produce 
                        dependable, homogeneous products all of the time that will perform in its application.</p> 
                </div>                
            </div>
        </div>
    </div>




    <div class="row bg-blue-l1 col-12 my-0 py-5">
        <div class="col px-0">
            <div class="container cont-site py-4 py-md-5 d-flex flex-column">
                <h2 class="pt-2 pt-md-5 mb-0">ISO <span class="text-blue-1">9001</span></h2>                
                <p class="text_main pt-3 mb-0 mt-1">ISO 9001 sets out the criteria for a quality management system and is the only standard in the family 
                    that can be certified to (although this is not a requirement).</p>
                <p class="text_add pt-3 mb-0 mt-1 pb-3 pb-md-0">It can be used by any organization, large or small, regardless of its field of activity. 
                    In fact, there are over one million companies and organizations in over 170 countries certified to ISO 9001.</p>
                <a href="#" class="btn btn-yellow-1 section_13__button mx-auto overline-r overline_mob-r mt-4 mt-md-5 px-4 px-md-5 col-12 col-sm-auto">
                    <img src="./assets/img/svg/icon_pdf.svg" alt="" class="me-3 ms-md-4">
                    <p class="mb-0 me-md-4">Iso Certificate</p>
                    
                </a>
            </div> 
        </div>
    </div>




    <div class="row section_32_bg position-relative d-flex align-items-center">
        <img src="./assets/img/svg/section_32__bg.svg" alt="" class="section_32__bg-img position-absolute  d-none d-md-block">
        <img src="./assets/img/svg/section_32__bg_mob.svg" alt="" class="section_32__bg-img_mob position-absolute d-md-none">
        <div class="col px-0">
            <div class="container cont-site section_32 d-flex flex-column-reverse flex-md-row align-items-center">
                <div class="section_32_left col-12 col-md-6 pe-0 pe-md-5 d-flex flex-column">
                    <img src="./assets/img/svg/ul-isting_logo.svg" alt="ul-logo" class="section_32__logo d-md-none my-5 mx-auto">
                    <h2 class="section_32__header mb-0">UL <span class="text-blue-1">Listing</span></h2>
                    <p class="text_add mt-4 mb-0">UL Yellow Card lists multiple safety- and performance-related properties for a polymeric 
                        material tested by us to appropriate standards. It can also include additional performance credentials, e.g., 
                        Restriction of Hazardous Substances (RoHS) or Non-Halogenated (non-Hal), which verify industry requirements. Our 
                        card substantiates that a material is appropriate for defined applications and helps provide assurance that you are 
                        using a tested and certified material, which will be monitored at regular intervals by an independent test laboratory.</p>
                    <div class="section_32__logo-button d-flex align-items-center mt-4 flex-column flex-lg-row">
                        <img src="./assets/img/svg/ul-isting_logo.svg" alt="ul-logo" class="section_32__logo align-self-end pe-4 me-md-0 d-none d-md-block">
                        <a href="#" class="btn btn-yellow-1 section_13__button mx-auto overline-r overline_mob-r px-5 col-12 col-sm-auto mt-0 mt-md-5 mt-lg-0">UL Listing</a>
                    </div>
                </div>
                <div class="section_32_right col-12 col-md-6">
                    <img src="./assets/img/pages/certifications/listing.jpg"  alt="Plenco’s 08000 Series" class="section_32__image position-relative">
                </div>
            </div>
        </div>
    </div>


    <div class="row col-12 my-0 pt-4 pb-5 pt-md-5">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column mb-5 mt-md-5">
                <h2 class="pt-0 mb-0">CSA <span class="text-blue-1">Group</span></h2>                
                <p class="text_main pt-3 mb-0 mt-1">For a century, CSA Group has relentlessly led the drive for a better, safer, more sustainable world. </p>
                <p class="text_add pt-3 mb-0 mt-1 pb-3 pb-md-0">Today, CSA achieves this vision through standards development, supported by technical 
                    research and training. CSA Group is a recognized third-party certification body and testing agency with specialized expertise in many 
                    industries. As a leading solutions-based standards organization, providing standards and codes development, application products, 
                    training and selected advisory services. CSA Group aims to enhance public safety, improve quality of life, preserve the environment 
                    and facilitate trade.</p>
                <a href="#" class="btn btn-yellow-1 section_13__button mx-auto overline-r overline_mob-r mt-4 mt-md-4 px-4 px-md-5 col-12 col-sm-auto">CSA Group Certification</a>
            </div> 
        </div>
    </div>
    

{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}