{% extends "../_layout.twig" %}
{% set pageTitle = 'Contact' %}
{% set pageClass = 'body_contact' %}

{% set page_contact = {
    heading: {
        heading_top_text: "Contact Plenco",
        bg_img: "./assets/img/pages/contact/heading.jpg",
        class: ""
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_contact.heading} %}
    

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">Get in Touch. Thank you for your interest in <span class='text-blue-l2'>Plastics Engineering Company</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1">Do you want to join our story as a customer or as a talent? We are looking forward to hearing about your ideas or help you if you would like to know more about a product or technology.</p> 
                </div>           
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}