{% extends "../_layout.twig" %}
{% set pageTitle = 'Research & Development' %}
{% set pageClass = 'body_research-development' %}

{% set page_research_development = {
    heading: {
        heading_top_text: "Research & Development",
        bg_img: "./assets/img/pages/research-development/heading.jpg",
        class: "body_research-development"
    },
    nav_side: {
        visible: false,
    },
    section_105: {
        class: "page_research-development",
        header: "Research <span class='text-blue-1'>& Development </span>",
        text: "General “intro” message with a brief history of our R&D efforts, general analytical equipment info 
            and capabilities placeholder. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
            Lorem ipsum dolor sit amet.",
        text_add: "General “intro” message with a brief history of our R&D efforts, general analytical equipment 
            info and capabilities placeholder. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos 
            et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.",
        cards: [
            {
                img: "./assets/img/photo_mock_1.jpg",
                alt: "Pic-1",
                link_to: "#",
                text: "Polymer Research & Development Lab"
            },
            {
                img: "./assets/img/photo_mock_1.jpg",
                alt: "Pic-2",
                link_to: "#",
                text: "Materials Engineering Lab"
            },       
        
        ]
    },
    section_13: {
        class: "page_research-development overline-r",
        header: "Plenco’s <span class='text-blue-1'>Facilities</span>",
        text: "CTA placeholder text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy",
        text_button: "Facilities",
        link_to: "#",
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig'  with {data: page_research_development.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_research_development.heading} %}
    {% include '../components/sections/section_heading_bottom_research-development.twig' with {data: page_research_development.heading}  %}
    {% include '../components/sections/section_105.twig' with {data: page_research_development.section_105}  %}
    {% include '../components/sections/section_13.twig' with {data: page_research_development.section_13} %}
{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}