{% extends "../_layout.twig" %}
{% set pageTitle = 'Series 08000 Polyester Bulk Molding Compounds' %}
{% set pageClass = 'body_series-08000' %}

{% set page_series_08000 = {
    heading: {
        heading_top_text: "Polyester Bulk <br>Molding Compounds",
        bg_img: "./assets/img/pages/series-08000/heading.jpg",
        class: "",
        heading_top_subheader: "Plenco’s 08000 Series"
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig'  with {data: page_series_08000.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_series_08000.heading} %}
    

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">08000 products are thermosetting polyester bulk molding compounds (BMC). These materials employ mineral and fiberglass additives to provide <span class='text-blue-l2'>excellent impact strength, heat resistance, dimensional stability and electrical insulation</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p> 
                </div>                
            </div>
        </div>
    </div>

    <div class="row section_31_bg overflow-hidden bg-blue-l1">
        <div class="col px-0">
            <div class="container cont-site section_31 col-12 d-flex flex-column ">
                <h2 class="section_31__header mb-0">Series 08000 <span class="text-blue-1">Products</span></h2>


                <div class="accordion accordion-flush section_31_accordion mt-4" id="s8000__accordion-1">
                    <div class="accordion-cont col-12 col-lg-8">

                        <div class="acc__item-wrap col">
                            <div class="accordion-item h-100 bg-transparent">
                                <h2 class="accordion-header" id="acc-1__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-1" aria-expanded="true" aria-controls="acc-1__body-1">
                                        <p class="d-block text_add-2 mb-0 ms-4 text-uppercase text-blue-l3">08100 Products</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-1" class="acc-body accordion-collapse collapse show" aria-labelledby="acc-1__header-1" data-bs-parent="">
                                    <div class="accordion-body px-0 py-0">
                                        <div class="accordion__items-wrap row row-cols-sm-2 mx-n2 g-3">
                                            
                                            <div class="accordion__item-wrap mt-3">
                                                <a href="#" class="accordion__item__link text-decoration-none">
                                                    <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center">
                                                        <span class="accordion__item__header text-blue-1 text-uppercase mb-0">08112 Polyester BMC</span>
                                                        <div class="accordion__item__download d-flex align-items-center mt-3">
                                                            <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                            <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                        </div>
                                                        <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                        <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-1">Compression</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="accordion__item-wrap mt-3">
                                                <a href="#" class="accordion__item__link text-decoration-none">
                                                    <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center">
                                                        <span class="accordion__item__header text-blue-1 text-uppercase mb-0">08112 Polyester BMC</span>
                                                        <div class="accordion__item__download d-flex align-items-center mt-3">
                                                            <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                            <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                        </div>
                                                        <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                        <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-1">Compression</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion accordion-flush section_31_accordion mt-5" id="s8000__accordion-2">
                    <div class="accordion-cont col-12">

                        <div class="acc__item-wrap col">
                            <div class="accordion-item h-100 bg-transparent">
                                <h2 class="accordion-header" id="acc-2__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-2__body-1" aria-expanded="true" aria-controls="acc-2__body-1">
                                        <p class="d-block text_add-2 mb-0 ms-4 text-uppercase text-blue-l3">08200 Products</p> 
                                    </button>
                                </h2>
                                <div id="acc-2__body-1" class="acc-body accordion-collapse collapse show" aria-labelledby="acc-2__header-1" data-bs-parent="">
                                    <div class="accordion-body px-0 py-0">
                                        <div class="accordion__items-wrap row row-cols-sm-2 row-cols-lg-3 mx-n2 g-3">
                                            
                                            <div class="accordion__item-wrap mt-3">
                                                <a href="#" class="accordion__item__link text-decoration-none">
                                                    <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center">
                                                        <span class="accordion__item__header text-blue-1 text-uppercase mb-0">08218 Polyester BMC</span>
                                                        <div class="accordion__item__download d-flex align-items-center mt-3">
                                                            <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                            <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                        </div>
                                                        <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                        <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-1">Compression</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="accordion__item-wrap mt-3">
                                                <a href="#" class="accordion__item__link text-decoration-none">
                                                    <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center">
                                                        <span class="accordion__item__header text-blue-1 text-uppercase mb-0">08218 Polyester BMC</span>
                                                        <div class="accordion__item__download d-flex align-items-center mt-3">
                                                            <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                            <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                        </div>
                                                        <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                        <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-1">Compression</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="accordion__item-wrap mt-3">
                                                <a href="#" class="accordion__item__link text-decoration-none">
                                                    <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center">
                                                        <span class="accordion__item__header text-blue-1 text-uppercase mb-0">08228 Polyester BMC</span>
                                                        <div class="accordion__item__download d-flex align-items-center mt-3">
                                                            <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                            <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                        </div>
                                                        <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                        <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-1">Compression</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="accordion__item-wrap mt-3">
                                                <a href="#" class="accordion__item__link text-decoration-none">
                                                    <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center">
                                                        <span class="accordion__item__header text-blue-1 text-uppercase mb-0">08235 Polyester BMC</span>
                                                        <div class="accordion__item__download d-flex align-items-center mt-3">
                                                            <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                            <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                        </div>
                                                        <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                        <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-1">Compression</span>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row section_32_bg overflow-hidden bg-blue-l1">
        <div class="col px-0">
            <div class="container cont-site section_32 d-flex flex-column flex-md-row align-items-center">

            </div>
        </div>
    </div>



















{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}