{% extends "../_layout.twig" %}
{% set pageTitle = 'Technical Service News/Blog Detail page' %}
{% set pageClass = 'body_technical-service-news-detail' %}

{% set page_technical_service_nb_detail_1 = {
    heading: {
        heading_top_text: "Technical Service",
        bg_img: "./assets/img/pages/technical-service/heading.jpg",
        class: "page_technical-service"
    },
    nav_side: {
        visible: false
    },
 

}
%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_technical_service.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_technical_service.heading} %}
    {% include '../components/sections/section_heading_bottom_tech-service.twig' with {data: page_technical_service.heading} %}
    <section class="section_23">
        

    </section>

{% endblock %}

     
{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}