<div class="row section_3_bg overflow-hidden overline_mob-r">
    <div class="section_3 col">
        <div class="container cont-site">
            <div class="section_3__data row d-flex align-items-center position-relative">
                <div class="section_3__textarea col-12 col-lg-5 position-relative">
                    <h3 class="section_3__header text_bicolor">Plenco Reports & <em>Resources</em></h3>
                    <p class="section_3__text">Search our website for product information and data reports.</p>
                    {% include '../blocks/_block_input_1.twig' with {searcharea_p: "col-12", type: "text", ph: "Search"} %}
                    <div class="w-100"></div>
                    <span class="section_3__span col-10">Quick Links</span>
                    <a href="#" class="section_3__link">Plenco Data Reports/SDS</a>
                    <a href="#" class="section_3__link">Plenco Data Glossary</a>
                    <a href="#" class="section_3__link">Technical Tips</a>
                    <a href="#" class="section_3__link">Plenco Processing Guide (English)</a>
                    <a href="#" class="section_3__link">Plenco Processing Guide (Spanish)</a>
                    <button class="section_3__button button_yellow d-none d-lg-block col-md-7 col-lg-9">Reports & Resources</button>

                    <img src="./assets/img/section_3__bg_mobile.jpg" alt="" class="section_3__img_mobile position-absolute ">

                </div>

                <div class="section_3__img-wrapper">
                    <img src="./assets/img/yellow_bubbles.jpg" alt="" class="section_3__image position-absolute">
                </div>

            </div>
        </div>
    </div>
</div>