{% set cards_data = [
    {
        text: "Phenolic Novolac and Resol",
        category: "resins"
    },   
    {
        text: "Phenolic Molding",
        category: "Materials"
    },   
    {
        text: "BMC / Thermoset Polyester Molding",
        category: "Materials"
    },   
    {
        text: "Melamine-Phenolic Molding",
        category: "Materials"
    } 
] %}



<div class="row section_7_bg overflow-hidden position-relative">
    <div class="section_7__bg_img position-absolute t-0 l-0"></div>
    <div class="section_7 col px-2 pt-36 pb-28">
        <div class="container cont-site">
            <div class="section_7__center-block__cont position-relative col-10 col-md-5 col-lg-4 ml-auto mr-auto align-items-center">
                <div class="section_7__center-block d-flex flex-col align-items-center pt-11 pb-7 position-relative px-2 px-sm-4">
                    <h2 class="section_7__center__header text-white text-center">Innovative Products & Solutions</h2>
                    <button class="button_yellow w-100 mt-6">Markets & Applications</button>
                </div>
                <div class="section_7__center-block__line"></div>
            </div>

            <div class="section_7__cards-wrap col-md-12 mt-28 d-flex justify-between position-relative flex-wrap flex-md-nowrap">
                {% for card in cards_data %}
                    <div class="section_7__card col-12 col-md-3 pt-6 pb-3 px-2 px-md-2 px-lg-4 d-flex flex-col mt-2 mt-md-0 justify-between position-relative">
                        <div class="section_7__card__highlighter col-2"></div>
                        <p class="section_7__card__text_header col-12 mb-0">{{ card.text }}</p>
                        <p class="section_7__card__text_category col-12 mb-0 uppercase">{{ card.category }}</p>
                    </div>
                {% endfor %}
                <div class="section_7__cards-wrap__line d-md-none position-absolute"></div>
            </div>

            <p class="section_7__text_bottom_main text_bicolor_2 text-white mt-32">Plastics Engineering Company is a leading North American 
                manufacturer of phenolic resins and thermoset molding materials, <em>selling products 
                under its trademark Plenco</em>.</p>
            <p class="section_7__text_bottom text-white">If you have a phenolic resin or thermoset molding material project, chances 
                are, the Plenco team can make it work. We’ve been doing it for over 80 years.</p>
            <p class="section_7__text_bottom text-white">Come and benefit from the Plenco difference.</p>
            <div class="section_7__buttons-wrap col-lg-5 d-flex justify-between">
                <button class="button_yellow">about</button>
                <button class="button_yellow">facilities</button>
            </div>

        </div>
    </div>
</div>