<div class="row section_8_bg overflow-hidden overline_mob-r {{ data.class }}">
    <div class="section_8 col">
        <div class="container cont-site">
            <div class="section_8__data row d-flex align-items-center position-relative">
                <div class="section_8__textarea col-12 col-lg-5 position-relative">
                    {% include data.block_left %}
                </div>
                <div class="section_8__img-wrapper" style="background-image:  url({{ data.img }})">
                    <img src={{ data.img }} alt="" class="section_8__image position-absolute">
                </div> 
            </div>
        </div> 
    </div>
</div>