{% set cards_data = [
    {
        text: "Phenolic Novolac and Resol",
        category: "resins"
    },   
    {
        text: "Phenolic Molding",
        category: "Materials"
    },   
    {
        text: "BMC / Thermoset Polyester Molding",
        category: "Materials"
    },   
    {
        text: "Melamine-Phenolic Molding",
        category: "Materials"
    } 
] %}



<div class="row section_7_bg overflow-hidden border-2 position-relative">
    <div class="section_7__bg_img position-absolute t-0 l-0"></div>
    <div class="section_7 col px-2 pt-36 pb-28">
        <div class="container cont-site">
            <div class="section_7__center-block col-lg-4 d-flex flex-col align-items-center pt-11 pb-7 position-relative ml-auto mr-auto">
                <h2 class="section_7__center__header text-white text-center">Innovative Products & Solutions</h2>
                <button class="button_yellow col-10 mt-6">Markets & Applications</button>
            </div>
            <div class="section_7__center-block__line"></div>
            
            <div class="section_7__cards-wrap col-md-12 border-2 mt-28 d-flex justify-between position-relative">
                {% for card in cards_data %}
                    <div class="section_7__card pt-6 pb-3 px-7 d-flex flex-col justify-between">
                        <p class="section_7__card__text_header col-12 mb-0">{{ card.text }}</p>
                        <p class="section_7__card__text_category col-12 mb-0 uppercase">{{ card.category }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>