<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="A demo of how to use gulp-twig"/>
    <meta name="author" content="Simon de Turck"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="./assets/css/bundle.css">
    <title>{{ pageTitle }}</title>
</head>

<body>

    <div class="layout__bottom-line d-md-none position-sticky"></div>

    {% block header %}
    {% endblock header %}


       
    {% block content %}
    {% endblock content %}



    
    {% block footer %}
    {% endblock footer %}


    {% block scripts %}
    {% endblock scripts %}

    <script src='./assets/js/bootstrap.min.js'></script>
    <script src='./assets/js/layout.js'></script>
</body>
</html>