<div class="row block_3_bg overflow-hidden">
    <div class="block_3 col px-2 ">
        <div class="container cont-site">
            <div class="block_3__data row pt-52 d-flex align-items-center pb-56 position-relative">
                <div class="block_3__textarea col-12 col-lg-5 position-relative px-0">
                    <h3 class="block_3__header text_bicolor text-center text-lg-start">Plenco Reports & <em>Resources</em></h3>
                    <p class="block_3__text text-center text-lg-start">Search our website for product information and data reports.</p>
                    <div class="block_3_searcharea col-12 mt-6 d-flex align-items-center h60">
                        <input class="block_3__input col-10 h-16 pl-7 h-100 d-inline-block" type="text" placeholder="Search">
                        <button class="button_yellow_arrow min-w60 d-inline-block"></button>
                    </div>
                    <div class="w-100"></div>
                    <span class="block_3__span mt-16 col-10 uppercase">Quick Links</span>
                    <a href="#" class="block_3__link mt-4">Plenco Data Reports/SDS</a>
                    <a href="#" class="block_3__link mt-3">Plenco Data Glossary</a>
                    <a href="#" class="block_3__link mt-3">Technical Tips</a>
                    <a href="#" class="block_3__link mt-3">Plenco Processing Guide (English)</a>
                    <a href="#" class="block_3__link mt-3">Plenco Processing Guide (Spanish)</a>
                    <button class="button_yellow d-none d-sm-block col-md-7 col-lg-9 mt-14">Reports & Resources</button>

                    <img src="./assets/img/block_3__bg_mobile.jpg" alt="" class="block_3__img_mobile position-absolute ">

                </div>

                <div class="block_3__img-wrapper mb-11 mb-lg-0">
                    <img src="./assets/img/yellow_bubbles.jpg" alt="" class="block_3__image position-absolute top-28">
                </div>

            </div>
        </div>
    </div>
</div>