<div class="row">
    <div class="block_1 col h623 align-items-center d-flex px-2">
        <div class="container cont-site">
            <div class="row">
                <div class="block_1__sub-cont col offset-md-4 col-md-8 offset-lg-6 col-lg-6 pt-16 pt-lg-24 pt-md-20 px-0 max-h470 pb-16">
                    <div class="row justify-content-center">
                        <span class="block_1__sub-cont__header col-11 col-md-9 text-white px-0">The Environment in Which We Live and Work</span>
                        <p class="block_1__sub-cont__text col-11 col-md-9 text-white px-0 mt-3">The environment in which we live and work is of utmost importance to Plenco. The principle and 
                            process are clear. Ever since our founding, Plenco has been a good employer, supplier and neighbor when it comes to the environment.</p>
                        <div class="button_wrapper d-flex justify-content-between col-9 px-0 mt-3">
                            <button class="button_yellow col">Policy</button>
                            <div class="gap col-1"></div>
                            <button class="button_yellow col">CSR Manual</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>