<div class="row block_5_bg overflow-hidden">
    <div class="block_5 col">
        <div class="container cont-site">
            <h3 class="block_5__header text_bicolor text-center mb-0 pb-0">Industry <em>Insights</em></h3>
            <p class="block_5__text col-md-6 col-lg-5 ml-auto mr-auto text-sm-center text-start mt-4">Sign up for Plenco’s newsletter to learn more about the latest technology in plastic engineering.</p>
            {% include './_block_input_1.twig' with {searcharea_p: "h60 mt-6 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4 ", type: "email", ph: "Email Address"} %}



        </div>
    </div>
</div>