<div class="row">
    <div class="block_2 col h830 px-2 pt-28">
        <div class="container cont-site">
            <div class="row">
                <h3 class="text_bicolor text-center">Plenco <em>Products</em></h3>
                    <div class="row">
                        <div class="col-12 pt-7 d-flex gap-x-0 flex-xl-nowrap flex-lg-wrap">
                            <div class="col-lg-4 col-xl-3">
                                <div class="img_cont col-8 offset-2 h-32">
                                    <img class="" src="./assets/img/svg/schema_resins.svg" alt="RESINS">
                                </div>
                                <div class="col bg-dark-blue-1">
                                    <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                        <h4 class="color-light-blue-3">Phenolic Novolac and Resol Resins</h4>
                                    </div>
                                    <p class="col-10 offset-1 text-white min-h240">Our extensive range of phenolic resins are used in applications to 
                                        impart a desirable combination of high hardness, long-term thermal and mechanical stability, 
                                        high fire and flame resistance, combined with good electrical insulating capability.</p>
                                    <div class="col-md-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                                    <div class="col d-flex align-items-center">
                                        <span class="col-6 color-light-blue-3 offset-1 uppercase ">resins</span>
                                        <div class="button_yellow_arrow col-3 offset-2 h-14"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3">
                                <div class="img_cont col-8 offset-2 h-32">
                                    <img class="" src="./assets/img/svg/schema_phenolic.svg" alt="phenolic">
                                </div>
                                <div class="col bg-dark-blue-1">
                                    <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                        <h4 class="color-light-blue-3">Phenolic Molding Compounds</h4>
                                    </div>
                                    <p class="col-10 offset-1 text-white min-h240">Highly engineered and custom formulated thermosets are used 
                                        across a number of industries including automotive, aerospace, industrial, electrical and more. See how 
                                        you can benefit from our composites.</p>
                                    <div class="col-md-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                                    <div class="col d-flex align-items-center">
                                        <span class="col-6 color-light-blue-3 offset-1 uppercase ">Phenolic</span>
                                        <div class="button_yellow_arrow col-3 offset-2 h-14"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3">
                                <div class="img_cont col-8 offset-4 h-32">
                                    <img class="" src="./assets/img/svg/schema_bmc.svg" alt="BMC">
                                </div>
                                <div class="col bg-dark-blue-1">
                                    <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                        <h4 class="color-light-blue-3">BMC/Thermoset Polyester Molding Compounds</h4>
                                    </div>
                                    <p class="col-10 offset-1 text-white min-h240">Bulk Molding Compounds are used for high-strength applications 
                                        that can be evaluated to replace steel, die cast aluminum or iron when reduction of weight and secondary operation c
                                        osts are important goals.</p>
                                    <div class="col-md-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                                    <div class="col d-flex align-items-center">
                                        <span class="col-6 color-light-blue-3 offset-1 uppercase ">BMC/THERMOSET</span>
                                        <div class="button_yellow_arrow col-3 offset-2 h-14"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3">
                                <div class="img_cont col-8 offset-4 h-32">
                                    <img class="" src="./assets/img/svg/schema_melamine.svg" alt="Melamine">
                                </div>
                                <div class="col bg-dark-blue-1">
                                    <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                        <h4 class="color-light-blue-3">Melamine-Phenolic Molding Compounds</h4>
                                    </div>
                                    <p class="col-10 offset-1 text-white min-h240">Our melamine-phenolic (MP) compounds add strength and electrical 
                                        insulating characteristics to many applications. MP molding compounds feature enhanced tracking resistance, arc 
                                        resistance and surface abrasion during repetitive cycling.</p>
                                    <div class="col-md-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                                    <div class="col d-flex align-items-center">
                                        <span class="col-6 color-light-blue-3 offset-1 uppercase ">MELAMINE</span>
                                        <div class="button_yellow_arrow col-3 offset-2 h-14"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>