<div class="row block_4_bg overflow-hidden">
    <div class="block_4 col pt-28 ">
        <div class="container cont-site">
            <h3 class="block_4__header text_bicolor text-center text-lg-start mb-0">Plenco <em>News</em></h3>
            <div class="block_4__content row col-12 border-2">
                <div class="block_4__item block_4__item_1 col-12 col-lg-5 bg-blue-1 bx5-dark-blue-1 pt-10 d-flex flex-col justify-content-evenly">
                    <h4 class="block_4__item__header col-12 text-white">Plenco Reaches 15% on Energy Savings from Better Plants Program</h4>
                        dsfsd
                </div>


            </div>
        </div>
    </div>
</div>