<div class="block_2">
    <h3 class="block_2__header text_bicolor">Quality <em>Assurance/Philosophy</em></h3>
    <p class="block_2__text">Plenco’s mission is to respond to our customers’ needs by producing high-quality, 
        defect-free materials. This has been a cornerstone of the company’s philosophy since it was founded in 
        1934. To accomplish this we strive to establish solid relationships with our customers, recognizing that 
        the quality of the products and services we provide is an integral part of our customers’ success. 
        Trained quality assurance personnel, following globally recognized test methods, provide a high level of 
        confidence in the uniform quality of our products. State-of-the-art test equipment, supported by a 
        statistically oriented, computer-based calibration program, assures accurate, consistent, and reliable 
        test data and process control.</p>
    <p class="block_2__text_add">Quality plans are developed with input solicited from our customers and 
        interdepartmental teams at Plenco. In addition to the general certification assured by the Plenco 
        trademark, products can be certified to a number of standards including ISO, UL, JIS, CSA, and DOD. 
        (Quality Assurance text)</p>

    <button class="block_2__button button_yellow">Certifications</button>
</div>    
