<div class="row block_2_bg">
    <div class="block_2 col px-2 ">
        <div class="container cont-site pt-28 pb-0">
            <div class="row">
                <h3 class="text_bicolor text-center mb-0">Plenco <em>Products</em></h3>
                <div class="col-12 row gap-x-6 px-0 d-flex justify-content-around">
                    <div class="col-sm-5 col-lg-5 col-xl px-0 pt-8">
                        <div class="img_cont col h-32">
                            <img class="d-block mx-auto" src="./assets/img/svg/schema_resins.svg" alt="RESINS">
                        </div>
                        <div class="col bg-dark-blue-1">
                            <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                <h4 class="color-light-blue-3">Phenolic Novolac and Resol Resins</h4>
                            </div>
                            <p class="col-10 offset-1 text-white min-h260">Our extensive range of phenolic resins are used in applications to 
                                impart a desirable combination of high hardness, long-term thermal and mechanical stability, 
                                high fire and flame resistance, combined with good electrical insulating capability.</p>
                            <div class="col-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                            <div class=" d-flex align-items-center justify-content-between col-12">
                                <span class="color-light-blue-3 offset-1 uppercase ">resins</span>
                                <button class="button_yellow_arrow_60"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-5 col-xl px-0 pt-8">
                        <div class="img_cont col h-32">
                            <img class="d-block mx-auto" src="./assets/img/svg/schema_phenolic.svg" alt="phenolic">
                        </div>
                        <div class="col bg-dark-blue-1">
                            <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                <h4 class="color-light-blue-3">Phenolic Molding Compounds</h4>
                            </div>
                            <p class="col-10 offset-1 text-white min-h260">Highly engineered and custom formulated thermosets are used 
                                across a number of industries including automotive, aerospace, industrial, electrical and more. See how 
                                you can benefit from our composites.</p>
                            <div class="col-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                            <div class=" d-flex align-items-center justify-content-between col-12">
                                <span class="color-light-blue-3 offset-1 uppercase ">phenolic</span>
                                <button class="button_yellow_arrow_60"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-5 col-xl px-0 pt-8">
                        <div class="img_cont col h-32">
                            <img class="d-block mx-auto" src="./assets/img/svg/schema_bmc.svg" alt="BMC">
                        </div>
                        <div class="col bg-dark-blue-1">
                            <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                <h4 class="color-light-blue-3">BMC/Thermoset Polyester Molding Compounds</h4>
                            </div>
                            <p class="col-10 offset-1 text-white min-h260">Bulk Molding Compounds are used for high-strength applications 
                                that can be evaluated to replace steel, die cast aluminum or iron when reduction of weight and secondary operation c
                                osts are important goals.</p>
                            <div class="col-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                            <div class=" d-flex align-items-center justify-content-between col-12">
                                <span class="color-light-blue-3 offset-1 uppercase ">BMC/THERMOSET</span>
                                <button class="button_yellow_arrow_60"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-5 col-xl px-0 pt-8">
                        <div class="img_cont col h-32">
                            <img class="d-block mx-auto" src="./assets/img/svg/schema_melamine.svg" alt="Melamine">
                        </div>
                        <div class="col bg-dark-blue-1">
                            <div class="col-10 offset-1 pl-0 h120 d-flex align-items-center">
                                <h4 class="color-light-blue-3">Melamine-Phenolic Molding Compounds</h4>
                            </div>
                            <p class="col-10 offset-1 text-white min-h260">Bulk Molding Compounds are used for high-strength applications 
                                that can be evaluated to replace steel, die cast aluminum or iron when reduction of weight and secondary operation c
                                osts are important goals.</p>
                            <div class="col-6 offset-1 h-0 border-t bg-white mt-6 mb-0"></div>
                            <div class=" d-flex align-items-center justify-content-between col-12">
                                <span class="color-light-blue-3 offset-1 uppercase ">MELAMINE</span>
                                <button class="button_yellow_arrow_60"></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>