<div class="row block_4_bg overflow-hidden">
    <div class="block_4 col pt-28 ">
        <div class="container cont-site">
            <h3 class="block_4__header text_bicolor text-center text-lg-start mb-0">Plenco <em>News</em></h3>
            <div class="block_4__content row col-12 border-2">
                <div class="block_4__item block_4__item_1 col-12 col-lg-5 bg-blue-1 bx5-dark-blue-1 pt-10 position-relative">
                    <h4 class="block_4__item__header col-12 text-white">Plenco Reaches 15% on Energy Savings from Better Plants Program</h4>
                    <div class="block_4__item__other d-flex flex-col justify-content-evenly border-2">
                        <img src="./assets/img/block_4__item_1.jpg" alt="Tech line" class="w-100 block_4__item__img">
                        <a href="#" class="block_4__item__link uppercase text-center">Read Article</a>
                    </div>
                    <div class="block_4__item__line h-2 w-14 position-absolute top-12"></div>
                    <div class="blank">f</div>
                </div>

                <div class="block_4__item block_4__item_2 col-12 col-lg-6 offset-1 bg-blue-1 bx5-dark-blue-1 pt-10 ">
                    <h4 class="block_4__item__header col-12 text-white">Plenco’s Story, A Video Journey</h4>
                    <div class="block_4__item__other d-flex flex-col justify-content-evenly border-2">
                        <a href="#" class="block_4__item__link uppercase text-left">Watch Video</a>
                    </div>
                    <div class="block_4__item__line h-2 w-14 position-absolute top-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>