<div class="block_cookies collapse" id="block_cookies"  data-bs-toggle="false">
    <div class="block_cookies__content container">
        <p class="block_cookies__text">Cookies make our site work properly and securely. By allowing us, you will 
            get the best user experience with brand enriched content & relevant products and services. 
            <a class="block_cookies__link" href="#">More information about Cookies.</a></p>
        <div class="block_cookies__decisions">
            <button class="block_cookies__btn_accept cookies-control" data-action="accept" role="button" data-bs-toggle="collapse" href="#block_cookies" aria-expanded="false" aria-controls="block_cookies">accept</button>
            <button class="block_cookies__btn_close cookies-control" data-action="close" role="button" data-bs-toggle="collapse" href="#block_cookies" aria-expanded="false" aria-controls="block_cookies">Close</button>
        </div>
    </div>
    <img class="block_cookies__close cookies-control d-none d-md-block col-6 col-md" src="./assets/img/svg/close.svg"  data-action="close"  role="button" data-bs-toggle="collapse" href="#block_cookies" aria-expanded="false" aria-controls="block_cookies">

</div>