<div class="block_cookies" id="block_cookies">
    <div class="block_cookies__content container">
        <p class="block_cookies__text">Cookies make our site work properly and securely. By allowing us, you will 
            get the best user experience with brand enriched content & relevant products and services. 
            <a class="block_cookies__link" href="#">More information about Cookies.</a></p>
        <div class="block_cookies__decisions">
            <button class="block_cookies__btn_accept cookies-control" data-action="accept">accept</button>
            <button class="block_cookies__btn_close cookies-control" data-action="close">Close</button>
        </div>
    </div>
    <img class="block_cookies__close cookies-control d-none d-md-block col-6 col-md" src="./assets/img/svg/close.svg"  data-action="close">

</div>