<div class="heading__header_with-button pt-11 px-6 pb-7 w-400 d-flex align-items-center jusify-contner-between flex-col bg-dark-blue-1">
    <h1 class="heading__header_with-button__header text-center text-white">{{ header.header_text }}</h1>
    <div class="button-wrapper w-full mt-6">
        {% include '../buttons/_button_yellow.twig' with {text: header.button_text, link: header.button_link } %}
    </div>
</div> 