<div class="heading__subheader-block w-64 h-32 pt-6 pb-4 px-7 bg-light-blue-1 mt-12 position-relative t30 d-flex flex-col justify-content-between">
    <span class="heading__subheader-block__span_1">{{ subheader.span1_text }}</span>
    <span class="heading__subheader-block__span_2 uppercase color-blue-1">{{ subheader.span2_text }}</span>
</div>