<div class="heading__subheader-block">
    <span class="heading__subheader-block__span_1">{{ subheader.span1_text }}</span>
    <span class="heading__subheader-block__span_2">{{ subheader.span2_text }}</span>
</div>