<div class="heading__header_with-button">
    <h1 class="heading__header_with-button__header">{{ header.header_text }}</h1>
    <div class="button__wrapper">
        {% include '../buttons/_button_yellow.twig' with {text: header.button_text, link: header.button_link } %}
    </div>
</div> 