html, body, h1, h2, h3, h4, h5, h6, p, span, button, input, form, header, footer, section, nav, img, a, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    font-family: "Play-700";
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
    @include ls(100);

    @include respond-to(sm) {
        font-size: 30px;
        line-height: 32px;
    }
}

.h2 {
    font-family: "Almarai-700";
    font-size: 28px;
    @include ls(0);
    text-transform: capitalize;

    @include respond-to(sm) {
        font-size: 24px;
        line-height: 24px;
    }
}


.nav-text_main {

}

.nav-text_add {

}

.cont-site {
    //box-sizing: border-box !important;
    max-width: 1184px !important; //1184-22-22=1140
    //margin-left: auto;
    //margin-right: auto;
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.container-fluid {
    //padding-left: 22px;
    //padding-right: 22px;
}


.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    //padding-left: 0 !important;
    //padding-right: 0 !important;
}

/*
.text_bicolor {
    color: $black;

    & em {
        color: $blue-1;
        font-style: normal;
    }
}

.text_bicolor_2 {
    color: $black;

    & em {
        color: $light-blue-2;
        font-style: normal;
    }
}

.text_bicolor_3 {
    color: $white;

    & em {
        color: $light-blue-2;
        font-style: normal;
    }
}
*/

button {
    border: none;
}

input {
    border: none;
}




.layout__line_bottom {
    top: 98.8%;
    left: 30%;
    width: 40%;
    height: 5px;
    background-color: $black;
    border-radius: 3px;
    z-index: 5000; 
}


.layout__line_center {
    //position: relative;
    height: 300px;
    width: 7px;
    background-color: #FFF;
    opacity: 0.5;
    top: 210px;
    left: calc(50vw - 13px) ;
    z-index: 500 ;
    //background-blend-mode:color;
    
    @include respond-to(sm) {
        width: 3px;
        top: 283px;
        height: 182px;
        left: calc(50vw - 10px);
        z-index: 700;

    }
}



.overline {
    z-index: 600;
}


.overline-r {
    z-index: 600;
    position: relative;
}

.overline_mob {
    @include respond-to(sm) {
        z-index: 800 !important;
    }
}

.overline_mob-r {
    @include respond-to(sm) {
        position: relative;
        z-index: 800 !important;
    }
}




.ul_1 {
    //padding-left: 24px;
    //margin-top: 20px;

    & .ul_1__text {
        font-family: "Mulish-400";
        font-size: 14px;
        line-height: 20px;
        @include ls(25);
        text-indent: -1.5em;
        list-style: none;

        &::before {
            content: "";
            display: inline-block;
            height: 9px;
            width: 9px;
            margin-right: 14px;
            background-color: $light-blue-2;
        }

    }

}


h1 {                           //heading_top header
    font-family: "Play-700";
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
    @include ls(100);

    @include respond-to(lg) {
        font-size: 40px;
        line-height: 48px;    }

    @include respond-to(sm) {
        font-size: 36px;
        line-height: 44px;                    
    }
    @include respond-to(sm) {
        font-size: 30px;
        line-height: 32px;
    }
}

h2 {                            //header bicolor
    font-family: "Almarai-700";
    font-size: 28px;
    @include ls(0);
    text-transform: capitalize;
    line-height: 43px;

    @include respond-to(sm) {
        font-size: 24px;
        line-height: 24px;
    }
}

h3 {                         //uppercase header
    font-family: "Play-700";
    font-size: 16px !important;
    //line-height: 50px;
    text-transform: uppercase;
    @include ls(25);

    @include respond-to(sm) {
        line-height: 20px;
    }
}
h4 {                          //list header small
    font-family: "Play-700";
    font-size: 14px;
    line-height: 16px;    
    @include ls(75);
    text-transform: uppercase;
    
}


.text_heading_main {                         //bottom header
    font-family: "Almarai-700";
    font-size: 34px;
    line-height: 46px;    
    @include ls(50);

    @include respond-to(sm) {
        line-height: 34px;
        font-size: 28px;
    }
    @include respond-to(sm) {
        line-height: 28px;
        font-size: 22px;
    }
}

.text_heading_add {                       //bottom heading small
    font-family: "Mulish-400";
    font-size: 18px;
    line-height: 24px;    
    @include ls(25);

    @include respond-to(sm) {
        line-height: 22px;
        font-size: 16px;
    }
}

.text_main {                          //text bigger paragraph
    font-family: "Mulish-600";
    font-size: 20px;
    line-height: 28px;    
    @include ls(25);

    @include respond-to(sm) {        
        font-size: 16px;
        line-height: 22px;
    }
}

.text_add {                          //text small paragraph
    font-family: "Mulish-400";
    font-size: 16px !important;
    line-height: 24px !important;    
    @include ls(25);

    @include respond-to(sm) {        
        font-size: 16px !important;
        line-height: 22px;
    }
}


.text_li_item {                          //text link (home)
    font-family: "Mulish-600";
    font-size: 18px;
    line-height: 30px;    
    @include ls(25);

    @include respond-to(sm) {        
        font-size: 16px;
        line-height: 26px;
    }
}

.quote {                          //quote blue
    font-family: "Play-700";
    font-size: 30px;
    line-height: 40px;    
    @include ls(100);
    text-transform: uppercase;

    @include respond-to(lg) {
        font-size: 27px;
        line-height: 36px;
    }

    @include respond-to(md) {
        font-size: 27px;
        line-height: 36px;        

    }
    @include respond-to(sm) {        
        font-size: 26px;
        line-height: 34px;
    }
}

.quote_add {
    font-family: "Play-400";
    font-size: 24px;
    line-height: 30px;    
    @include ls(25);

    @include respond-to(sm) {        
        font-size: 20px;
        line-height: 26px;
    }
}