.nav_bottom {

    & .nav_bottom__logo {
        min-width: 167px !important;

        @include respond-to(md) {
            width: 167px;
        }
    } 

    & .nav_bottom_menu-wrap {
        padding-right: 0 !important;

        & .nav_bottom_menu {
            padding-right: 0 !important;
        }
    }


    & .nav_bottom__links {
        padding-right: calc(270px - ((100vw - 1160px) / 2));

        @include respond-to(lg) {
            padding-right: 0;
        }

    }


    & .nav_bottom__link {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        color: black;
        font-family: "Mulish-800"; 
        white-space: nowrap;
        letter-spacing: 0.05rem;

        @include respond-to(xl) {
            white-space: normal;
        }

        &:hover {
            color: black;

        }
    }

}


//---------------------------DROP------------------------------

.nav_bottom__drop {
    height: 600px;
    //padding-top: 21px;
    padding-bottom: 21px;
    background-color: $light-blue-1;

    & .nav_bottom__drop__input-block {
        height: 77px;

        & .nav_bottom__drop__input-cont {
            border-bottom: 2px solid $blue-2;
            height: 33px;
    
            & .nav_bottom__drop__input {
                font-family: "Mulish-300";
                font-size: 18px;
                padding-left: 10px;
                background-color: transparent;
    
                &:active, &:hover, &:focus {
                    outline: 0;
                    outline-offset: 0;
                }
    
                &::placeholder {
                    color: $black;
                }
            }

            & .nav_bottom__drop__input-btn {
                background-image: url("../img/svg/nav_top__search-icon.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            
        }
    }





    & .nav_bottom__drop__block_1 {
        height: 312px;  

        & .nav_bottom__btn_1 {
            background-color: $blue-1;
            font-family: "Mulish-800";
            font-size: 18px;
            letter-spacing: 0.07rem;
        }

        & .nav_bottom__btn_1_spec {
            background-color: $yellow-1;
            font-family: "Mulish-800";
            font-size: 18px;
            letter-spacing: 0.07rem;

            &::after {
                content: "";
                height: 1px;
                width: 45px;
                position: absolute;
                background-color: $blue-1;
                margin-left: 0px;
            }
        
            &::before {
                content: "";
                height: 1px;
                width: 0px;
                position: absolute;
                background-color: $blue-1;
                margin-right: 190px;
            }
        }


    }

}