.nav_bottom {
    
    //position: fixed;
    //overflow: hidden;
    //background-color: #fff;
    //z-index: 1000;
    //height: 100vh;

    & .nav_bottom_menu-wrap {
        padding-right: 0 !important;
        padding-left: 0 !important;
        background-color: #fff;


        & .nav_bottom_menu {
           // padding-right: 0 !important;

            & .nav_bottom__logo {
                margin-right: 50px;
                min-width: 167px !important;

                @include respond-to(lg) {
                    margin-right: 20px;
                }

                @include respond-to(md) {
                    margin-right: 0px;
                    min-width: 150px !important;
                   //width: 167px;

                }
            }
        }
    }


    & .nav_bottom__links {
        padding-right: calc(270px - ((100vw - 1160px) / 2));

        @include respond-to(lg) {
            padding-right: 0;
        }

        @include respond-to(md) {
            margin-left: 15px;
        }


        & .nav_bottom__link-cont {
            padding: 13px 24px;
            max-height: 62px;
            transition: $nav-btn-change;

            @include respond-to(md) {
                padding: 8px 10px;
            }

            &.opened {
                border: 2px solid $yellow-1;
                transition: $nav-btn-change;
            }

            & .nav_bottom__link {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 16px;
                color: black;
                font-family: "Mulish-800"; 
                white-space: nowrap;
                letter-spacing: 0.05rem;
        
                @include respond-to(xl) {
                    white-space: normal;
                }
        
                @include respond-to(md) {
                    font-size: 14px;
                    letter-spacing: 0.0rem;
        
                }
        
                &:hover {
                    color: black;
        
                }
            }
        }

    & .nav_bottom__btn_yellow {
        height: 84px;
    }
    


    }


    //---------------------Section Markets -------------------
    
    & .nav-section_markets {
        //height: calc(100vh - 116px);
        height: 0;
        padding-top: 0;
        width: 100%;
        background-color: $dark-blue-1;
        transition: $nav-btn-change;

        position: fixed;
        top: 116px;

        
        &.opened {
            transition: $nav-btn-change;
            height: calc(100vh - 116px);
            //height: 730px;
            padding-top: 84px;
        }


        & .nav-section_markets__header {
            font-family: "Mulish-800";
            font-size: 22px;
        }

        & .nav-section_markets__items {
            margin-top: 24px;

            & .nav-section_markets__item{
                padding-left: 18px;
                padding-right: 18px;
                width: 360px;
                height: 142px;
                background-color: $blue-1;
                margin-bottom: 33px;
                
    
                @include respond-to(lg) {
                    width: 30%;
                }

                        
                @include respond-to(md) {
                }

                & .nav-section_markets__item__icon {
                    max-width: 60px;
                    max-height: 60px;;
                }

                & .nav-section_markets__item__text {
                    font-family: "Almarai-700";
                    font-size: 24px;
                    letter-spacing: 0.01rem;

                    @include respond-to(md) {
                        font-size: 18px;
                    }
                }
            }
        }

        & .nav-section_markets__button  {
            height: 70px;
        }




    }

//-----------------Section Products -------------------

    & .nav-section_products {
        //height: calc(100vh - 116px);
        position: fixed;
        top: 116px;

        height: 0;
        padding-top: 0;
        width: 100%;
        background-color: $dark-blue-1;
        transition: $nav-btn-change;

        &.opened {
            transition: $nav-btn-change;
            height: calc(100vh - 116px);
                // height: 730px;
            padding-top: 84px;
        }

        & .nav-section_products__header {
            font-family: "Mulish-800";
            font-size: 22px;
        }

        & .nav-section_products__items {
            margin-top: 24px;

            & .nav-section_products__item{
                padding-left: 14px;
                padding-right: 14px;
                width: 265px;
                height: 170px;
                background-color: $blue-1;
                

                @include respond-to(lg) {
                    width: 23%;
                }

                        

                & .nav-section_products__item__inner-cont {
                    //border: 1px solid red;
                    width: 100%;
                    height: 100%;
                    border-bottom: 11px solid $light-blue-2;

                    & .nav-section_products__item__text {
                        font-family: "Almarai-700";
                        font-size: 24px;
                        letter-spacing: 0.01rem;
        
                        @include respond-to(lg) {
                            font-size: 20px;
                        }

                        @include respond-to(md) {
                            font-size: 17px;
                        }
                    }
                }

            }
        }

        & .nav-section_products__button  {
            height: 70px;
        }

    }

//---------------------Section SEARCH----------------------------------


    & .nav-section_search {
        height: 0;
        width: 100%;
        background-color: rgba($blue-1, 0.8);
        transition: $nav-btn-change;
        bottom: 0;
        top: 116px;

        &.opened {
            transition: $nav-btn-change;
            height: calc(100vh - 32px);
        }

        & .nav-section_search-cont {
            background-color: $dark-blue-1;
        }


    }


}







//---------------------------DROP------------------------------


.nav_bottom__drop {
    top: -50px;
    height: 0px;
    transition: $nav-btn-change;
    //height: 600px;
    padding-bottom: 0px;
    background-color: $light-blue-1;


    &.nav_bottom__drop_opened {
        transition: $nav-btn-change;
        top: 0px;
        height: 600px;
        //height: calc(100vh - 84px);
        padding-bottom: 21px;
    }



    & .nav_bottom__drop__cont-1 {
        padding-left: 30px;
        padding-right: 30px;
    }


    & .nav_bottom__drop__input-block {
        height: 71px;
        //margin-bottom: 20px;


        & .nav_bottom__drop__input-cont {
            border-bottom: 2px solid $blue-2;
            height: 33px;
            left: 200px;



            & .nav_bottom__drop__input {
                font-family: "Mulish-300";
                font-size: 18px;
                padding-left: 10px;
                background-color: transparent;
    
                &:active, &:hover, &:focus {
                    outline: 0;
                    outline-offset: 0;
                }
    
                &::placeholder {
                    color: $black;
                }
            }

            & .nav_bottom__drop__input-btn {
                background-image: url("../img/svg/nav_top__search-icon.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            
        }


        & .nav_bottom__drop__back {
            left: 100vw;
            transition: $nav-btn-change;
            width: 100%;
            height: 71px;
            font-family: "Mulish-300";
            font-size: 18px;
            text-transform: none;
            background-color: $light-blue-1;

            &.opened {
                left: 0;
                transition: $nav-btn-change;
            }


            & .nav_bottom__drop__back__arrow {
                width: 27px;
                height: 3px;
                background-color: $blue-1;

                &::before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    border-right: 3px solid $blue-1;
                    border-top: 3px solid $blue-1;
                    transform: rotate(-135deg);
                    top: -6px;
                    left: 1px;
                }
            }
        }
    }





    & .nav_bottom__drop__block_1 {
        height: 0px;
        margin-bottom: 0;
        transition: $nav-btn-change;

        &.opened {
            transition: $nav-btn-change;
            height: 316px;
            margin-bottom: 12px;
        }

        & .nav_bottom__btn_1 {
            background-color: $blue-1;
            font-family: "Mulish-800";
            font-size: 18px;
            letter-spacing: 0.07rem;
        }

        & .nav_bottom__btn_1_spec {
            background-color: $yellow-1;
            font-family: "Mulish-800";
            font-size: 18px;
            letter-spacing: 0.07rem;

            &::after {
                content: "";
                height: 1px;
                width: 50%;
                left: calc(50% + 60px);
                position: absolute;
                background-color: $blue-1;
                margin-left: 0px;
            }
        
            &::before {
                content: "";
                height: 1px;
                width: 350px;
                right: calc(50% - 125px);
                position: absolute;
                background-color: $blue-1;
                margin-right: 190px;
            }
        }
    }


    & .nav_bottom__drop__cont-2 {
        background-color: $dark-blue-1;
        padding-left: 30px;
        padding-right: 30px;

        & .nav_bottom__drop__block_2 {
            height: 212px;
            padding-top: 20px;
            padding-bottom: 20px;

            @include respond-to(xs) {
                justify-content: space-between;
            }
    
            & .nav_bottom__btn_2 {
                font-family: "Almarai-700";
                font-size: 16px;
                border: 3px solid $blue-1;
                line-height: 16px;
                padding-left: 10px;
                padding-right: 10px;
                
                @include respond-to(xs) {
                    width: 48%;
                }
            }
        }

    }



    & .nav_bottom__drop__cont-add-menu {
        height: 0;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
        //height: 530px;
        background-color: $dark-blue-1;
        transition: $nav-btn-change;
        padding-top: 0;
        padding-bottom: 0;


        &.opened {
            transition: $nav-btn-change;
            height: 529px;
            padding-top: 33px;
            padding-bottom: 32px;
        }


        & .nav_bottom__drop__add-menu__header {
            font-family: "Mulish-800";
            font-size: 18px;
        }

        & .nav_bottom__drop__add-menu__links {
            margin-top: 23px;
            height: 320px;

            & .nav_bottom__drop__add-menu__link-cont {
                min-height: 53px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 3px solid $blue-1;
    
                & .nav_bottom__drop__add-menu__link_text {
                    font-family: "Almarai-700";
                    font-size: 18px;
                    letter-spacing: 0.05rem;
                }
        
                & .nav_bottom__drop__add-menu__arrow {
                    width: 27px;
                    height: 3px;
                    background-color: $yellow-1;
    
                    &::after {
                        position: absolute;
                        content: "";
                        height: 15px;
                        width: 15px;
                        border-right: 3px solid $yellow-1;
                        border-top: 3px solid $yellow-1;
                        transform: rotate(45deg);
                        top: -6px;
                        right: 1px;
                    }
                }
    
            }

        }

        
        & .nav_bottom__drop__add-menu__button {
            height: auto;
            display: flex;
            margin-top: 26px;
            padding-top: 19px;
            padding-bottom: 19px;
            font-size: 18px;
            line-height: 22px;

            &_products {
                margin-top: 43px;
            }
        }
    }





    & .nav_bottom__drop__cont-add-menu_search {
        height: 0;
        margin: 0;
        //padding-left: 30px;
        //padding-right: 30px;
        //height: 530px;
        background-color: rgba($dark-blue-1, 0.7);
        transition: $nav-btn-change;
        padding-top: 0;
        padding-bottom: 0;


        &.opened {
            transition: $nav-btn-change;
            height: 529px;
            padding-top: 33px;
            padding-bottom: 32px;
        }


    }
    

}