.button_yellow {
    @include button_yellow(70px, 52px, 208px );
}

.button_yellow_nav {
    height: 100%;
    @include button_yellow(70px, 100%, 215px );
    position: relative;
    
    &::after {
        content: "";
        height: 0;
        width: 45px;
        position: absolute;
        border: 0.5px solid $blue-1;
        margin-left: 170px;
    }

    &::before {
        content: "";
        height: 0;
        width: 65px;
        position: absolute;
        border: 0.5px solid $blue-1;
        margin-right: 190px;
    }
} 
