.button_yellow {
    @include button_yellow(0px, 52px, 100% );
}

.button_yellow_nav {
    height: 100%;
    @include button_yellow(70px, 100%, 215px );
    position: relative;
    font-family: "Mulish-300";
    font-size: 16px;
    white-space: nowrap;

    &::after {
        content: "";
        height: 0;
        width: 45px;
        position: absolute;
        border: 0.5px solid $blue-1;
        margin-left: 170px;
    }

    &::before {
        content: "";
        height: 0;
        width: 65px;
        position: absolute;
        border: 0.5px solid $blue-1;
        margin-right: 190px;
    }
} 

.button_yellow_arrow {
    @include button_yellow(0px, 60px, 100% );
    background-image: url("../img/svg/arrow_right.svg");
    background-size: contain;
    background-position: center center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
}



