{% block nav %}
<div class="nav_top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light container h-10 px-0">
        <div class="container-fluid px-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-items-end">
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" href="#">About</a>
              </li>
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" href="#">Facility</a>
              </li>
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" href="#">Research & Development</a>
              </li>
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" href="#">News</a>
              </li>
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" href="#">Certifications</a>
              </li>
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" href="#">Career</a>
              </li>
              <li class="nav-item px-3.5">
                <a class="nav-link px-0 text-black" href="#" style="white-space: nowrap">Search 
                    <img src="./assets/img/svg/nav_top__search-icon.svg" alt="Search-icon" class="nav-magnifier">
                </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

</div>
{% endblock nav %}