<button class="nav_side__btn-msg d-none d-md-flex flex-column">
    <img src="./assets/img/svg/Chat.svg" alt="Chat" class="nav_side__btn-msg__icon">
    <span class="nav_side__btn-msg__text_1">Message</span>
    <span class="nav_side__btn-msg__text_2">plenco</span>
</button>