<div class="container h-0">
    <img class="nav_bottom__logo w-52 h-20 pt-2" src="./assets/img/svg/plenco_logo_1.svg" alt="Plenco Logo" > 
</div>

<div class="pe-0 ps-0 container site-container nav_bottom h-20 d-flex container-fluid justify-content-end align-items-center position-relative">
    <a href="#" class="nav_bottom__link mr-14 ml-80">Markets & Applications</a>
    <a href="#" class="nav_bottom__link mr-14">Products</a>
    <a href="#" class="nav_bottom__link mr-14">Reports & Resources</a>
    {% include '../../components/buttons/_button_yellow_nav.twig' with {button_text: 'CONTACT'} %}
    
</div>
