<div class="p-0 nav_bottom__btn h-20 position-absolute t-0 right-0 d-none d-xl-block">
    <button class="button_yellow_nav h-5">contact</button> 
</div>


<div class="row nav_bottom">
    <div class="nav_bottom_menu-wrap col px-2 pt-0 pb-0 border-2 h-20 pr-0">
        <div class="nav_bottom_menu container cont-site border-2 h-100 d-flex align-items-center justify-between">
            <img class="nav_bottom__logo w-52 max-h-16" src="./assets/img/svg/plenco_logo_1.svg" alt="Plenco Logo" > 
            <div class="nav_bottom__links d-none d-lg-flex align-items-center justify-between ml-8">
                <a href="#" class="nav_bottom__link">Markets & Applications</a>
                <a href="#" class="nav_bottom__link mx-14">Products</a>
                <a href="#" class="nav_bottom__link">Reports & Resources</a>    
                <div class="p-0 nav_bottom__btn h-20 d-inline-block d-xl-none ml-8">
                    <button class="button_yellow_nav h-5">contact</button> 
                </div>

            </div>
            <div class="nav_bottom__btn_mob d-inline-block d-lg-none h-20  d-xl-none ml-8 p-0" >
                <button class="button_yellow_nav_mob h-5 d-flex flex-col justify-content-end pb-1 border-2" id="nav__btn_mob">
                    <div class="button_yellow_nav_mob__top"></div>
                    <div class="button_yellow_nav_mob__middle"></div>
                    <div class="button_yellow_nav_mob__bottom"></div>
                    <div class="button_yellow_nav_mob__text-cont d-block h-5 overflow-hidden">
                        <span class="button_yellow_nav_mob__text_1 uppercase d-block">menu</span>
                        <span class="button_yellow_nav_mob__text_2 uppercase d-block">exit</span>
                    </div>
                </button> 
            </div>

        </div>
    </div>
</div>




