<nav class="navbar navbar-expand-md bg-light-blue-1 navbar-light h-8">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0 text-black">
        <li class="nav-item px-0 ml-10">
          <a class="nav-link px-0" href="#">About</a>
        </li>
        <li class="nav-item px-0 ml-10">
          <a class="nav-link px-0" href="#">Facility</a>
        </li>
        <li class="nav-item px-0 ml-10">
          <a class="nav-link px-0 text-nowrap" href="#">Research & Development</a>
        </li>
        <li class="nav-item px-0 ml-10">
          <a class="nav-link px-0" href="#">News</a>
        </li>
        <li class="nav-item px-0 ml-10">
          <a class="nav-link px-0" href="#">Certifications</a>
        </li>
        <li class="nav-item px-0 ml-10">
          <a class="nav-link px-0" href="#">Careers</a>
        </li>
        <li class="nav-item px-0 ml-10">
            <a class="nav-link px-0 d-flex align-items-center" href="#">Search
              <img src="./assets/img/svg/nav_top__search-icon.svg" class="m-0 pl-2" />
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>