<div class="p-0 nav_bottom__btn h84 position-absolute t-0 right-0 d-none d-xl-block">
    <button class="button_yellow_nav h-5">contact</button> 
</div>


<div class="row nav_bottom">
    <div class="nav_bottom_menu-wrap col px-2 pt-0 pb-0 h84 pr-0">
        <div class="nav_bottom_menu container cont-site h-100 d-flex align-items-center justify-between">
            <img class="nav_bottom__logo w-52 max-h-16" src="./assets/img/svg/plenco_logo_1.svg" alt="Plenco Logo" > 
            <div class="nav_bottom__links d-none d-md-flex align-items-center justify-between ml-8">
                <a href="#" class="nav_bottom__link">Markets & Applications</a>
                <a href="#" class="nav_bottom__link mx-4 mx-lg-5">Products</a>
                <a href="#" class="nav_bottom__link">Reports & Resources</a>    
                <div class="p-0 nav_bottom__btn h-20 d-inline-block d-xl-none ml-8">
                    <button class="button_yellow_nav h-5">contact</button> 
                </div>

            </div>
            <div class="nav_bottom__btn_mob d-inline-block d-md-none h-20  d-xl-none ml-8 p-0" >
                <button class="button_yellow_nav_mob h-5 d-flex flex-col justify-content-end pb-2" id="nav__btn_mob">
                    <div class="button_yellow_nav_mob__top_left button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__top_right button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__middle position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__bottom_left button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__bottom_right button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__text-cont d-block h-4 overflow-hidden">
                        <span class="button_yellow_nav_mob__text_1 uppercase d-block">menu</span>
                        <span class="button_yellow_nav_mob__text_2 uppercase d-block">exit</span>
                    </div>
                </button> 
            </div>

        </div>
    </div>


    <div class="nav_bottom__drop px-4">
        <div class="nav_bottom__drop__input-block w-100 d-flex align-items-center">
            <div class="nav_bottom__drop__input-cont w-100 d-flex justify-between align-items-center">
                <input type="text" class="nav_bottom__drop__input col h-100" placeholder="Search">
                <button class="nav_bottom__drop__input-btn h-5 w-5 mx-3"></button>
            </div>
        </div>
        <div class="nav_bottom__drop__primary-cont border-2">
            <div class="nav_bottom__drop__block_1">
                <button class="nav_bottom__btn_1 w-100 h-16 text-white uppercase">Markets & Applications</button>
                <button class="nav_bottom__btn_1 w-100 h-16 text-white uppercase mt-3">Products</button>
                <button class="nav_bottom__btn_1 w-100 h-16 text-white uppercase mt-3">Reports & Resources</button>
                <button class="nav_bottom__btn_1 nav_bottom__btn_1_spec w-100 h-16 text-black uppercase mt-3 position-relative">Contact</button>

            </div>
        </div>
    </div>
</div>




