.footer_bg {
    padding-top: 82px;
    padding-bottom: 0px;


    background-color: $dark-blue-1;

    
    & .footer__bg__img_main {
        width: 100%;
        top: -25px;
        height: 108%;
        margin-left: 45px;

        @include respond-to(sm) {
            height: auto;
            top: 0px;
            left: -20%;
            min-width: 140%;
        }
    }

    & .footer__bg__img_add {        
        opacity: 0.7;
        width: 100%;
        top: 130px;
    }

}



.footer {
  
    & .footer__text_bold {
        font-family: "Almarai-700";
        font-size: 14px;
    }


    & .footer__text {
        font-family: "Mulish-300";
        font-size: 14px;
        line-height: 22px;
    }


    & .footer__website-by {
        font-size: 12px;
        line-height: auto;

    }

    & .footer__desing {
        background-color: #D0CECE;

        @include respond-to(sm) {
            left: 0 !important;
        }

        & .footer__design_text {
            font-size: 15px;
            font-family: "Futura-700";
        }
    }

    & .footer__logo {
        z-index: 30 !important;
    }


}

