.footer_bg {
    padding-top: 82px;
    padding-bottom: 0px;

    height: 333px; //!!!

    background-color: $dark-blue-1;
    background-repeat: no-repeat;
    background-position: -14px 0%, 102% 100%, 0 0;
    background-size: 642px auto, auto auto, 100% 100%;

    
    & .footer__bg__img {
        opacity: 0.3;
        width: 100%;

    }
    
    & .footer__bg__img_main {
        height: 100%;
        bottom: -90px;
        //left: 45px;
        margin-left: 45px;
    }


    & .footer__bg__img_add {
        bottom: 0px;
    }

    @include respond-to(md) {
        //background-image:  url("../img/svg/mosaic_1.svg"), linear-gradient(90deg, $light-blue-1 33%, $light-blue-1 33%, $light-blue-1 100%);

    }

}



.footer {
  

    & .footer__text_bold {
        font-family: "Almarai-700";
        font-size: 14px;
    }


    
    & .footer__text {
        font-family: "Mulish-300";
        font-size: 14px;
        line-height: 22px;
    }


    & .footer__website-by {
        font-size: 12px;
        line-height: auto;

    }

    & .footer__desing {
        background-color: #D0CECE;

        & .footer__design_text {
            font-size: 15px;
            font-family: "Futura-700";
        }
    }
    



}


/*



    <img src="./assets/img/plenco__logo_footer-main.png" alt="" class="footer__bg__img footer__bg__img_main position-absolute px-0">
    <img src="./assets/img/plenco__logo_footer-add.png" alt="" class="footer__bg__img footer__bg__img_add position-absolute px-0">

    */