.footer_bg {
    padding-top: 82px;
    padding-bottom: 0px;
    background-color: $dark-blue-1;
    width: 100%;

    @include respond-to(sm) {
        overflow: hidden;
    }





    & .footer__bg-cont {

        top: -30px;
        //left: calc(-12px - 0.4vw);
        left: 0;
        width: 110%;
        overflow: hidden;
        height: 363px;
        margin: 0;
        padding: 0;
        
        @include respond-to(sm) {
             top: 0px;
         }


        & .footer__bg__img_main {
            width: 110vw;
            max-width: none !important;
            height: 450px;
            left: calc(-10px - 1.9vw);


    
            @include respond-to(sm) {
                height: auto;
                top: 0px;
                left: -25%;
                min-width: 150%;
            }
        }
    }



}



.footer {
  
    & .footer__text_bold {
        font-family: "Almarai-700";
        font-size: 14px;
    }


    & .footer__text {
        font-family: "Mulish-300";
        font-size: 14px;
        line-height: 22px;
    }


    & .footer__website-by {
        font-size: 12px;
        line-height: auto;

    }

    & .footer__desing {
        background-color: #D0CECE;

        @include respond-to(sm) {
            left: 0 !important;
        }

        & .footer__design_text {
            font-size: 15px;
            font-family: "Futura-700";
        }
    }

    & .footer__logo {
        z-index: 30 !important;
    }


}

