.section_heading_bottom_home {
    background-color: $dark-blue-1;
    background-image: url('../img/homepage__heading_bottom_bg-image.png');
    background-position: right bottom;
    background-repeat: no-repeat;

    &__header {
        font-size: 34px;
        font-family: "Almarai-700";
        letter-spacing: 0.1rem;
        line-height: 45px;

        & em {
            color: $light-blue-2;
            font-style: normal;
        }
    }

    &__text {
        //margin-top: 30px;
        //color: $white;
        font-size: 18px;
        font-family: "Mulish-400";
        letter-spacing: 0.05rem;
        line-height: 25px;
    }

    & .button__wrapper {

        & a {
            margin-right: 30px;
        }
    }
}