.section_hero_home {
    width: 100%;
    padding-top: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    background-image: url('../img/homepage__hero__bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;

}