.page_about {
    //border: 3px solid red;

    & .section_8__img-wrapper {

        @include respond-to(md) {
            margin-top: 60px;
        }
        
    }

    & .section_12_bg {
        margin-top: 110px;

        @include respond-to(sm) {
            margin-top: 60px !important;

        }
        
    }


}