.body_environmental-policy {

    & .section_heading_top__bg_img {
        
        background-position: 50% 20% !important;
        background-size: cover;
        opacity: 0;
        

        @include respond-to(sm) {
            background-position: 40% 100% !important;
            background-size: auto 115% !important;
        }
    }

    
    & .section_heading_bottom {    
        height: 414px;

        @include respond-to(lg) {        
            height: 400px;
        }
        @include respond-to(md) {        
            height: 380px;
        }
        @include respond-to(sm) {        
            height: 340px;
        }
        @include respond-to(xs) {        
            height: 293px;
        }
     
    }





    & .section_15_bg {
        padding-bottom: 201px !important;

        @include respond-to(sm) {
            padding-bottom: 117px !important;

        }       

        & .block_3 {
            @include respond-to(sm) {
                margin-top: 42px !important;
            }
        }

        & .block_6 {
            @include respond-to(xs) {
                width: 100%;
            }
        }

    }

    & .section_13_bg {
        @include respond-to(sm) { 
            position: unset;
        }

        
        & .section_13__button {
            width: 250px;
            
        }
    }

    
}