.body_environmental-policy {

    & .section_13__button {
        width: 251px;
    }

    & .section_15_bg {
        padding-bottom: 201px !important;

        & .block_6 {
            margin-top: 28px;
        }
    }
}