.body_environmental-policy {

    & .section_13_bg {
        @include respond-to(sm) { 
            position: unset;
        }

        
        & .section_13__button {
            width: 250px;
            
        }
    }

    & .section_15_bg {
        padding-bottom: 201px !important;

        @include respond-to(sm) {
            padding-bottom: 117px !important;

        }       

        & .block_3 {
            @include respond-to(sm) {
                margin-top: 42px !important;
            }
        }

        & .block_6 {
            @include respond-to(xs) {
                width: 100%;
            }
        }

    }
}