.body_facility {
    
    & .section_heading_bottom {
        height: 362px;
        
        @include respond-to(sm) {
            height: 300px;
        }
        @include respond-to(xs) {        
            height: 256px;
        }

        & .section_heading_bottom__content {
            margin-top: 150px;    
        
            @include respond-to(lg) {
                margin-top: 120px;
            }
            @include respond-to(sm) {
                margin-top: 100px;
            }
            @include respond-to(xs) {
                margin-top: 50px;        
            }
        
        
        
            & .section_heading_bottom__content__header {
                font-family: "Almarai-700";
                font-size: 34px;
                line-height: 46px;            
        
                @include respond-to(lg) {
                    font-size: 28px;
                    line-height: 36px;
                }
        
                @include respond-to(sm) {
                    font-size: 26px;
                    line-height: 32px;
                }
        
                @include respond-to(xs) {
                    font-size: 22px;
                    line-height: 28px;
                }        
            }
        }
    } 










    & .section_heading_top_bg {        
    
        & .section_heading_top__bg_img-cont {            
    
            & .section_heading_top__bg_img {                
                background-position: 10% 100%;                
    
                @include respond-to(sm) {
                    background-position: 55% 90%;
                    background-size: auto 100%;
                }
            }    
        }    
    }
    
}

    

