.body_facility {

    & .section_heading_top_bg {        
    
        & .section_heading_top__bg_img-cont {            
    
            & .section_heading_top__bg_img {                
                background-position: 10% 100%;                
                
                @include respond-to(sm) {
                    background-position: 55% 90%;
                    background-size: auto 100%;
                }
            }    
        }  
          
    }
    
    & .section_heading_bottom {
        height: 362px;
        
        @include respond-to(sm) {
            height: 300px;
        }
        @include respond-to(xs) {        
            height: 256px;
        }

    } 



//-----------------------SECTION 8 --------------------

    & .section_8_bg {
        background: linear-gradient(270deg, rgba($white,1) 33%, rgba($green_el,1) 33%, rgba($green_el,1) 100%);
        background-position:  100% 0%;
        background-size: 100% 100%;

        
        @include respond-to(sm) {
            background: linear-gradient(180deg, rgba($white,1) 250px, rgba($green_el,1) 250px, rgba($green_el,1) 100%);
        }

    }


    & .section_8__image {
        height: 826px;
    }

    & .section_8__img-wrapper {
        @include respond-to(md) {
            margin-top: 54px;
        }
        
    }


//-----------------------SECTION 16 --------------------
    
    & .section_16_bg {
        padding-top: 113px;
    
        @include respond-to(sm) {
            padding-top: 46px;
        }
    }


    
    & .section_16 {
 

        & .block_7 {

            margin-top: 44px;
        
            @include respond-to(sm) {
                margin-top: 23px;
            }

            & .block_7__left {
                max-height: 356px;
        
                @include respond-to(sm) {
                    max-height: none;
                }
        
                & .block_7__left__img {
                    max-height: 356px;
                    
                    @include respond-to(sm) {
                        max-height: none;
                    }
                }
            }
        
            & .block_7__right {
                padding-top: 28px;
                padding-bottom: 28px;
                min-height: 240px !important;
        
                @include respond-to(sm) {
                    top: -20px;
                    padding-top: 54px;
                    padding-bottom: 34px;
                    min-height: auto;
                }
        
                & .block_7__text-wrap {
        
                    @include respond-to(sm) {
                        margin-left: 15px;
                        width: calc(100% - 17px);
                    }
                }
            }

            & ~ .block_7 {
                margin-top: 120px;

                @include respond-to(sm) {
                    margin-top: 80px;
                }
            }
        }
        

        & .block_7_pic-right {
   
                & .block_7__text-wrap {
                    width: calc(92% - 24px - 7px - 24px);
    
                    @include respond-to(sm) {
                        width: calc(100% - 17px);
                    }
                }
        }

    }


//-----------------------SECTION 8_2 --------------------


    & .section_8_2 {
        //border: 2px solid red;
        margin-bottom: 0;
        
        @include respond-to(sm) {
            background: linear-gradient(180deg, rgba($green_el ,1) 250px, rgba($white,1) 250px, rgba($white,1) 100%);
            background-size: 70% 100%;
            background-repeat: no-repeat;
        }

        & .section_8 {
            min-height: auto;
            padding-bottom: 113px;

            @include respond-to(md) {
                padding-bottom: 0px;
            }
            
            & .section_8__img-wrapper {
                overflow: hidden;

                @include respond-to(sm) {
                    background-position: left center;
                    //background-size: auto 100%;
                }

                @include respond-to(sm) {
                    margin-top: 80px;
                }
        
                & .section_8__img-cont {
                    height: 464px;
                    overflow: hidden;
                    

                    & .section_8__image {
                        position: relative;
                        top: -130px;
                        height: 826px;
                    }
                }
            }


        }



        & .block_2 {

            min-height: auto !important;


            & .block_2__header {
                @include respond-to(sm) {
                    position: absolute;
                    top: -380px;
                    margin-top: 0;
                }
            }

            & .block_2__button {
                width: 349px;

                @include respond-to(xs) {
                    width: 100%;
                }
            }

        }
    }



//---------------------SECTION 17----------------------

.section_17_bg {
    background: url('../img/svg/section_17_bg.svg');
    padding-top: 280px;
    padding-bottom: 0px;
    background-position: 0 -630px;
    background-repeat: no-repeat;

    @include respond-to(md) {
        background-position: -70px -700px;
        padding-top: 191px;
    }

    @include respond-to(sm) {
        background: none;
        padding-top: 97px;
    }


}

.section_17 {

            & .section_17__header {
                text-transform: none;
            }
    
}




//-----------------------SECTION 18 --------------------

    & .section_18 {
        margin-top: 169px;

        @include respond-to(sm) {
            margin-top: 71px;
        }
    }

//-----------------------SECTION 13 --------------------


    & .section_13__button {
        width: 251px;
    }
    
}

    

