.body_home {

    & .layout__line_center {
        height: 360px;
        
        @include respond-to(sm) {
            top: 115px;
            height: 410px; 
        }
    }

    .section_1 {
        background-image: url('../img/pages/home/bg_1.jpg'); 
        background-size: cover;
        background-position: center;
        height: 623px;
    
        &__sub-cont {
            background-image: url('../img/svg/plenco_watermark.svg');    
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            max-height: 470px;
            padding-top: 108px;
            padding-bottom: 64px;
    
            @include respond-to(md) {
                padding-top: 108px;
            }
    
            @include respond-to(sm) {
                padding-top: 64px;
            }
        }
    }





//--------------------SECTION 2-----------------------

    .section_2_bg {
        background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
        margin-bottom: 90px;
        
        @include respond-to(sm) {
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
        }
    }

    .section_2 {

        & .container {
            padding-bottom: 94px; 
            padding-top: 112px;

            @include respond-to(sm) {
                padding-bottom: 69px; 
            }

        }


        & .section_2__cards-cont {


            & .section_2__card {
                padding-top: 32px;
                max-width: 267px;

                @include respond-to(lg) {
                    max-width: 478px;
                }

                @include respond-to(sm) {
                    padding-top: 45px;
                }

                & .section_2__card__img-cont {
                    height: 128px;
                }

                & .section_2__card__content-cont {


                    & .section_2__card__header {
                        font-family: "Muli-700";
                        font-size: 22px;
                        @include ls(50);
                    }

                    & .section_2__card__text {
                        font-family: "Muli-300";
                        font-size: 16px;
                    }

                    

                    & .section_2__card__bottom-block {

                        & .section_2__link {
                            left: 24px;
                        }
                    }

                }

            }




        }

    }

}