/*
    {% include '../layouts/_section_heading_top_home.twig' with {heading: page_home_data.heading} %}
    {% include '../layouts/_section_heading_bottom_home.twig' with {heading: page_home_data.heading} %}
    */