.body_home {

    & .layout__line_center {
        height: 360px;
        
        @include respond-to(sm) {
            top: 115px;
            height: 410px; 
        }
    }



//--------------------SECTION 1-----------------------

    .section_1 {
        background-image: url('../img/pages/home/bg_1.jpg'); 
        background-size: cover;
        background-position: center;
        height: 623px;
    
        &__sub-cont {
            background-image: url('../img/svg/plenco_watermark.svg');    
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            max-height: 470px;
            padding-top: 108px;
            padding-bottom: 64px;
    
            @include respond-to(md) {
                padding-top: 108px;
            }
    
            @include respond-to(sm) {
                padding-top: 64px;
            }
        }
    }





//--------------------SECTION 2-----------------------

    .section_2_bg {
        background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
        padding-bottom: 95px; 
        
        @include respond-to(sm) {
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
            padding-bottom: 69px; 
        }
    }

    .section_2 {

        & .container {
            padding-bottom: 94px; 
            padding-top: 112px;
        }

        & .section_2__cards-cont {
            margin-left: -12px !important;
            margin-right: -12px !important;

            & .section_2__card-wrap {

                & .section_2__card {
    
                    & .section_2__card__img-cont {
                        height: 128px;
                    }
    
                    & .section_2__card__content-cont {
                        
                        & .section_2__card__header {
                            font-family: "Muli-700";
                            font-size: 22px;
                            @include ls(50);
                            min-height: 100px;

                            @include respond-to(lg) {
                                min-height: 135px;
                            }

                            @include respond-to(md) {
                                min-height: 100px;
                            }

                            @include respond-to(sm) {
                                min-height: 135px;
                            }

                            @include respond-to(xs) {
                                min-height: auto;
                            }
                        }
    
                        & .section_2__card__text {
                            font-family: "Muli-300";
                            font-size: 16px;
                            min-height: 240px;

                            @include respond-to(lg) {
                                min-height: 340px;
                            }

                            @include respond-to(md) {
                                min-height: 170px;
                            }

                            @include respond-to(sm) {
                                min-height: 270px;
                            }

                            @include respond-to(xs) {
                                min-height: auto;
                            }
                        }
    
                        & .section_2__card__bottom-block {
    
                            & .section_2__link {
                                left: 24px;
                            }
                        }
    
                    }
    
                }
            }
        }
    }




//-------------------------SECTION 8 ----------------------

    & .section_8_bg {
        margin-top: 90px;
        padding-top: 100px;
        padding-bottom: 90px;
        background: linear-gradient(270deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
        background-position: 100% 0%;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        @include respond-to(sm) {
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
            background-position: 0% 40% !important;
            background-size: 55% 20% !important;
            background-repeat: no-repeat;
        }
    }

    & .section_8__data {

        & .block_input_1__searcharea {

            height: 60px;

            .block_input_1__input {
                font-family: "Mulish-300";
                font-size: 18px;
                z-index: 30;
                @include ls(25);
                
                    &::placeholder {
                        color: black;
                    }
            }

            & .block_input_1__button {
                width: 60px;
            }
        }

        & .block_1__link {
            font-family: "Muli-600";
            font-size: 18px;
            display: block;
            color: $black;
            position: relative;
            z-index: 30;
            margin-top: 17px;
            @include respond-to(md) {
                font-size: 16px;
            }
        }

        & .block_4__button {  
            min-width: 260px;      
        }

        & .section_8__image {
            height: 826px;
            width: auto;

            @include respond-to(md) {
                margin-left: 25%;
                left: 20px;
                height: auto;
            }
        }
    }

    





}