.body_markets_applications {
    & .section_heading_top__bg_img {
        
        background-position: 50% 50% !important;
        background-size: cover !important;
        opacity: .5;
        

        @include respond-to(sm) {
            background-position: 40% 100% !important;
            background-size: 150% !important;
        }
        @include respond-to(xs) {
            background-position: 40% 100% !important;
            background-size: 200% !important;
        }
    }


    & .section_heading_bottom {    
        height: 533px;

        @include respond-to(sm) {        
            height: 510px;
        }
        @include respond-to(xs) {        
            height: 497px;
        }
    

    }
//------------------------------SECTION 16-----------------------


    & .section_16_bg {
        background-image: url('../img/svg/section_16_bg_bottom.svg');
        background-size: auto 231px;
        background-position: 24px bottom;
        background-repeat: no-repeat;
        padding-bottom: 168px;
        padding-top: 107px;

        @include respond-to(sm) {
            background: url('../img/svg/section_16_bg_bottom_mob.svg');
            background-repeat: no-repeat;
            background-position: 10px bottom;
            padding-bottom: 142px;

        }
    
    }

    & .section_16 {
        margin-top: 0;
        padding-bottom: 0;


        @include respond-to(sm) {

        }

        & .block_7:nth-child(2) {
            margin-top: 44px;

            @include respond-to(sm) {
                margin-top: 26px;
            }
        }
    }






    & .section_13__button {
        width: 251px;
    }
    
}

    

