.body_material_engineering_lab {
    
    & .section_heading_top__center-block__cont {      
        @include respond-to(md) {
            width: 500px;
            overflow: hidden;
            padding: 43px;
        }
        @include respond-to(sm) {
            max-width: 400px !important;
            height: 93px;
        }

        @include respond-to(xs) {
            padding-left: 16px;
            padding-right: 16px;
            width: 286px;
        }
        & .section_heading_top__center__header {

            @include respond-to(md) {                
                margin-top: 190px;
                line-height: 100px;
            }
            @include respond-to(sm) {        
                margin-top: 190px;
            }
            
        }
    }
    & .section_heading_bottom {    
        height: 503px;

        @include respond-to(lg) {        
            height: 400px;
        }
        @include respond-to(sm) {        
            height: 350px;
        }
        @include respond-to(xs) {        
            height: auto;
        }
    
        & .section_heading_bottom__content {
            margin-top: 180px;    
            
            @include respond-to(lg) {
                margin-top: 80px;                
            }
            
            @include respond-to(sm) {
                margin-top: 50px;                
            }
            @include respond-to(xs) {
                margin-bottom: 50px;                
            }
            
        
        
            & .section_heading_bottom__content__header {
                font-family: "Almarai-700";
                font-size: 34px;
                line-height: 46px;
                @include ls(50);
        
                @include respond-to(lg) {
                    font-size: 28px;
                    line-height: 40px;
                }
                        
                @include respond-to(sm) {
                    font-size: 26px;
                    line-height: 34px;
                }
        
                @include respond-to(xs) {
                    font-size: 22px;
                    line-height: 28px;
                }
        
            }    
            & .section_heading_bottom__content__text {
                font-family: "Mulish-400";
                font-size: 18px;
                line-height: 24px;
                margin-top: 30px;
        
                @include respond-to(xs) {
                   display: none;
                }
            }
        }    
    }


    & .section_8_bg {
        background: linear-gradient(270deg, rgba($white,1) 33%, rgba($green_el,1) 33%, rgba($green_el,1) 100%);
        background-position:  100% 0%;
        background-size: 100% 100%;

        
        @include respond-to(sm) {
            background: linear-gradient(180deg, rgba($white,1) 250px, rgba($green_el,1) 250px, rgba($green_el,1) 100%);
        }

    }

    & .section_8__image {
        position: relative;
        left: -25%;
    }

    & .section_8__img-wrapper {
        @include respond-to(md) {
            margin-top: 54px;
        }
        
    }

    & .section_8__button {
        display: none;
    }



    & .section_17_bg {
        @include respond-to(sm) {
            padding-top: 60px;
        }


    
    }



    & .section_16_bg {
        background-image: none;
        padding-bottom: 0;

        @include respond-to(sm) {
            background: url('../img/svg/section_16_bg_bottom_mob.svg');
            background-repeat: no-repeat;
            background-position: 10px bottom;
            padding-bottom: 0;

        }
    
    }


    & .section_16 {
        padding-top: 139px;

        @include respond-to(sm) {
            padding-top: 67px;
        }  

        & .block_7 {
            & .ul_1 {
                margin-bottom: 0;
            }

        }


        & .block_7__right.right {
            height: 100%;
            min-height: 350px;

            @include respond-to(sm) {
                min-height: auto;
                height: auto;
            }
        
        }

        @include respond-to(sm) {
            padding-top: 67px;
            padding-bottom: 142px;
        }

        & .block_7:nth-child(2) {
            margin-top: 44px;

            @include respond-to(sm) {
                margin-top: 26px;
            }
        }
    }


    
    & .section_19_bg {
        @include respond-to(sm) {
            display: none;;
        }    
    }

    & .section_19 {
        margin-top: 184px;
        margin-bottom: 264px;
    }

    & .section_13__button {
        width: 251px;
    }


    
}

    

