.body_oil-gas {

    & .section_heading_bottom {
        height: 459px;
        
        @include respond-to(lg) {
            height: 430px;
        }
        @include respond-to(md) {
            height: 420px;
        }
        @include respond-to(sm) {
            height: 400px;
        }
        @include respond-to(xs) {        
            height: 385px;
        }
    }



    & .section_heading_top__bg_img {
        
        background-position: 30% 80% !important;
        background-size: cover !important;
        opacity: .5;
        

        @include respond-to(sm) {
            background-position: 50% 100% !important;
            background-size: 150% !important;
        }
        @include respond-to(xs) {
            background-position: 60% 100% !important;
            background-size: 200% !important;
        }
    }

//---------------------SECTION 27---------------------------------

    & .section_27_bg {
        padding-top: 123px;
        padding-bottom: 116px;

        @include respond-to(sm) {
            padding-top: 52px;
            padding-bottom: 24px;
        }

    }

    & .section_27 {



        & .block_6 {
            //height: 100%;
            min-height: 136px;

            & .block_6__header {
                //flex-grow: 1;
                //border: 1px solid red;
                //flex:1 0;
            }

            & .block_6__text {
                font-family: "Mulish-600";
                font-size: 16px;
                line-height: 22px;
                @include ls(25);
            }

        }
    }


}