.body_polymer_rd_lab {
    
    & .section_heading_bottom {    
        height: 545px;

        
        @include respond-to(xs) {        
            height: 559px;
        }
    
        & .section_heading_bottom__content {
            margin-top: 160px;    
            
            @include respond-to(md) {
                margin-top: 100px;
                
            }
            @include respond-to(sm) {
                margin-top: 70px;
                
            }
            @include respond-to(xs) {
                margin-top: 50px;
                
            }
        
        
        
            & .section_heading_bottom__content__header {
                font-family: "Almarai-700";
                font-size: 34px;
                line-height: 46px;
                letter-spacing: 0.07rem;
        
                @include respond-to(lg) {
                    font-size: 28px;
                    line-height: 40px;
                }
        
                @include respond-to(sm) {
                    font-size: 26px;
                    line-height: 34px;
                    letter-spacing: 0.02rem;
                }
        
                @include respond-to(xs) {
                    font-size: 22px;
                    line-height: 28px;
                }
        
            }    
            & .section_heading_bottom__content__text {
                font-family: "Mulish-400";
                font-size: 18px;
                line-height: 24px;
                margin-top: 30px;
        
                @include respond-to(xs) {
                    font-size: 16px;
                    line-height: 22px;                    
                }
            }
        }    
    }


    & .section_8_bg {
        background: linear-gradient(270deg, rgba($white,1) 33%, rgba($green_el,1) 33%, rgba($green_el,1) 100%);
        background-position:  100% 0%;
        background-size: 100% 100%;

        
        @include respond-to(sm) {
            background: linear-gradient(180deg, rgba($white,1) 250px, rgba($green_el,1) 250px, rgba($green_el,1) 100%);
        }

    }

    & .section_8__image {
        position: relative;
        left: -25%;
    }

    & .section_8__img-wrapper {
        @include respond-to(md) {
            margin-top: 54px;
        }
        
    }

    & .section_8__button {
        display: none;
    }


    & .section_16_bg {
        background-image: url('../img/svg/section_16_bg_bottom.svg');
        background-size: auto 231px;
        background-position: 24px bottom;
        background-repeat: no-repeat;
        padding-bottom: 238px;

        @include respond-to(sm) {
            background: url('../img/svg/section_16_bg_bottom_mob.svg');
            background-repeat: no-repeat;
            background-position: 10px bottom;
            padding-bottom: 0;

        }
    
    }


    & .section_16 {
        padding-top: 113px;

        @include respond-to(sm) {
            padding-top: 85px;
            padding-bottom: 100px;
        }

        & .block_7__right.right {
            height: 100%;
            min-height: 350px;

            @include respond-to(sm) {
                min-height: auto;
                height: auto;
            }
        
        }



        & .block_7 {
            margin-top: 44px;

            @include respond-to(sm) {
                margin-top: 23px;
            }

            & ~ .block_7 {
                margin-top: 119px;
                @include respond-to(sm) {
                    margin-top: 58px;
                }
            }


        }
    }

    & .section_13__button {
        width: 251px;
    }


    
}

    

