.body_research-development {

    & .section_heading_top__bg_img {
        
        background-position: 40% 50% !important;
        background-size: cover;
        opacity: 0;
        

        @include respond-to(sm) {
            background-position: 40% 100% !important;
            background-size: auto 115% !important;
        }
    }

    & .section_heading_bottom {    

        @include respond-to(sm) {        
            height: 470px;
        }

    
        & .section_heading_bottom__content {

            

            @include respond-to(sm) {
                padding-top: 0;
                padding-bottom: 0;
                
            }
            @include respond-to(xs) {
            }
        
        
        
            & .section_heading_bottom__content__header {
                font-family: "Almarai-700";
                font-size: 34px;
                line-height: 46px;
                @include ls(50);
        
                @include respond-to(lg) {
                    font-size: 28px;
                    line-height: 36px;
                }
        
                @include respond-to(sm) {
                    font-size: 26px;
                    line-height: 32px;
                }
        
                @include respond-to(xs) {
                    font-size: 22px;
                    line-height: 28px;
                }
        
            }    
            & .section_heading_bottom__content__text {
                font-family: "Mulish-400";
                font-size: 16px;
                line-height: 22px;
                @include ls(25);
            }
        }    
    }



    


}
