.body_series-08000 {
    & .section_heading_top__bg_img {
        
        background-position: 30% 70% !important;
        background-size: cover !important;
        opacity: .5;
        

        @include respond-to(sm) {
            background-position: 50% 100% !important;
            background-size: 150% !important;
        }
        @include respond-to(xs) {
            background-position: 60% 100% !important;
            background-size: 200% !important;
        }
    }
    & .section_heading_top__center-block__cont {     
        @include respond-to(lg) {                      
            height: 150px;
        } 
        @include respond-to(sm) {
            padding-left: 0;
            padding-right: 0;            
            height: 140px;
        } 
        
    }
    & .section_heading_bottom {
        height: 464px;
        
        @include respond-to(lg) {
            height: 450px;
        }
        @include respond-to(md) {
            height: 440px;
        }
        @include respond-to(sm) {
            height: 420px;
        }
        @include respond-to(xs) {        
            height: 401px;
        }
    }     

//-------------------------------SECTION 31---------------------------

    & .section_31_bg {
        padding-top: 118px;
        padding-bottom: 226px;

        @include respond-to(sm) {
            padding-top: 52px;
            padding-bottom: 66px;
        }
    }

    & .section_31 {

        & .section_31_accordion {


            & .accordion__item__header {
                font-family: "Play-700";
                font-size: 18px;
                @include ls(25);

            }

            & .accordion__item__download-text {
                font-family: "Mulish-600";
                font-size: 16px;
                @include ls(25);
                line-height: 20px;
            }

            & .accordion__item__method-name {
                font-family: "Mulish-800";
                font-size: 14px;
                @include ls(75);
            }



        }

    }


//-------------------------------SECTION 32---------------------------

    & .section_32_bg {

        & .section_32__bg-img {
            height: 855px;
            width: auto;
            left: 70%;
            //top: -17%;

        }

        & .section_32__bg-img_mob {
            height: 95vw;
            width: auto;
            right: 0;
            top: -5%;
        }

    }

    & .section_32 {
        padding-top: 90px;
        padding-bottom: 100px;

        @include respond-to(sm) {
            padding-top: 45px;
            padding-bottom: 65px;
        }

        & .section_32__image {
            height: 464px;

            @include respond-to(sm) {
                height: auto;
                width: 100%;
            }
        }

    }


//---------------------SECTION 27---------------------------------

    & .section_27_bg {
        padding-top: 64px;
        padding-bottom: 80px;

        @include respond-to(sm) {
            padding-top: 45px;
            padding-bottom: 36px;
        }

    }


    & .section_27 {



        & .block_6 {
            min-height: 136px;


            & .block_6__text {
                font-family: "Mulish-600";
                font-size: 16px;
                line-height: 22px;
                @include ls(25);
            }

        }
    }




//------------------------SECTION 23--------------------

    & .section_23_bg {
        padding-top: 110px;
        padding-bottom: 85px;
        
        @include respond-to(sm) {
            padding-top: 90px;
            padding-bottom: 80px;
        }

        & .section_23 {

            & .section_23__table {

                & .section_23__table__header {
                    font-family: "Mulish-700";
                    font-size: 20px;
                    line-height: 24px;
                    @include ls(25);
                }

                & .extrabold {
                    font-family: "Mulish-900";
                }

                & .section_23__block {
                    min-height: 45px;
                }

                & .section_23_accordion {

                    & .accordion-item {

                        & .accordion-header {

                            & .accordion-button {
                                font-family: "Mulish-800";
                                font-size: 16px;
                                line-height: 24px;
                                @include ls(25);
                                height: 54px;
                            }

                        }

                        & .accordion__text-3 {
                            font-family: "Mulish-600";
                            font-size: 16px;
                            line-height: 24px;
                            @include ls(25);
                        }

                    }

                }

            }
            
            & .section_23__add-text {
                font-family: "Mulish-Italic";
                font-size: 14px;
                line-height: 20px;
                @include ls(25);

            }
        }
    }

    
}