{% set pageheader_data = {
    header_block_text: "Innovative Products & Solutions",
    header_block_button_text: "Markets & Applications"
}
%}

<section class="section_hero_home">
    {% include '../components/blocks/_pageheader-with-button.twig' with {pageheader_data: pageheader_data} %}
</section> 