.block_5_bg {
    background-color: $light-blue-1;
    padding-top: 73px;
    padding-bottom: 54px;
}



.block_5 {
  

    & .block_5__header {
        font-family: "Almarai-700";
        font-size: 28px;
    }
    

    
    & .block_5__text {
        font-family: "Mulish-400";
        font-size: 18px;
    }


}