.block_4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 985px;


    @include respond-to(md) {
        min-height: auto;
    }     


    & .block_4__text-cont {
    
        & .block_4__header {
            font-family: "Almarai-700";
            font-size: 28px;
            line-height: 43px;
            position: relative;
            z-index: 30;
            margin-top: 100px;
            margin-bottom: 0;
    
            @include respond-to(lg) {
                font-size: 26px;
                line-height: 34px;
            }      
    
    
            @include respond-to(md) {
                text-align: center;
                font-size: 24px;
                margin-top: 53px;
            }
    
            @include respond-to(sm) {
                font-size: 24px;
                line-height: 32px;
            }
    
            @include respond-to(xs) {
                text-align: left;
    
            }
            
        }
    
        & .block_4__text {
            font-family: "Mulish-600";
            font-size: 20px;
            line-height: 28px;
            @include ls(25);
            position: relative;
            z-index: 30;
            margin-top: 25px;
            margin-bottom: 0;
           
            @include respond-to(lg) {
                font-size: 18px;
                line-height: 25px;
            }
    
            @include respond-to(md) {
                text-align: center;
            }
    
            @include respond-to(sm) {
                font-size: 16px;
                line-height: 22px;
            }
    
            @include respond-to(xs) {
    
            }
    
        }
    
        & .block_4__text_add {
            margin-top: 35px;
            font-family: "Mulish-400";
            font-size: 16px;
            line-height: 24px;
            @include ls(25);
            position: relative;
            z-index: 30;
            margin-bottom: 0;
           
            @include respond-to(lg) {
                font-size: 16px;
                line-height: 24px;
            }
    
            @include respond-to(md) {
                text-align: center;
            }
    
            @include respond-to(sm) {
                font-size: 16px;
                line-height: 24px;
            }
    
            @include respond-to(xs) {
    
            }
    
        }
    
    
    }

   
    & .block_4__button {
        text-transform: uppercase;
        font-family: "Play-700";
        font-size: 16px;
        line-height: 50px;
        color: $blue-1;
        @include ls(25);
        margin-top: 30px;
        width: 250px;
        background-color: transparent;
        position: relative;
        padding-left: 15px;

        &::before {
            position: absolute;
            content: "";
            left: 0px;
            height: 100%;
            width: 25px;
            background-image: url('../img/svg/arrow_down_1.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }


        @include respond-to(md) {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 44px;

        }

        @include respond-to(sm) {
            font-size: 16px;
            margin-bottom: 35px;

        }

        @include respond-to(xs) {

        }
    }
}



