.block_7 {
    //max-height: 355px;
    //border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px;

    @include respond-to(sm) {
        flex-direction: column;
        max-height: none;
        margin-top: 80px;
    }


    & .block_7__left {
        width: 47%;
        height: 100%;
        max-height: 355px;

        @include respond-to(sm) {
            width: 100%;
            max-height: none;
        }


        & .block_7__left__img {
            height: 100%;
            width: 100%;
        }
    }


    & .block_7__right {
        height: auto;
        border-left: 7px solid $light-blue-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        margin-left: 3%;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 32px;

        @include respond-to(sm) {
            //height: 100%;
            width: calc(100% - 17px);
            margin-top: -16px;
            margin-left: 17px;
            padding-top: 55px;
            padding-left: 17px;
        }

        & .block_7__header {
            font-family: "Play-700";
            font-size: 16px;
            line-height: 24px;
            @include ls(25);
            color: $blue-1;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        & .block_7__text {
            font-family: "Mulish-400";
            font-size: 16px;
            line-height: 24px;
            @include ls(25);
            color: $black;
            margin-top: 21px;
            margin-bottom: 0;
        }

        & .block_7__item {
            padding-left: 24px;
            margin-top: 20px;

            & .block_7__item__text {
                font-family: "Mulish-400";
                font-size: 14px;
                line-height: 20px;
                @include ls(25);
                margin-bottom: 0;
                position: relative;
                text-indent: -1.5em;
                list-style: none;
                margin-top: 20px;

                &::before {
                    content: "";
                    display: inline-block;
                    height: 9px;
                    width: 9px;
                    margin-right: 14px;
                    background-color: $light-blue-2;
                }

                &:nth-child(1) {
                    margin-top: 0; //???
                }

            }
        }

        & .block_7__button {
            //border: 5px solid red;
            min-width: 281px;
            padding-left: 34px;
            padding-right: 34px;
            margin-top: 24px;
        }
        

        &.right { //if pictute is on the right
            order: -1; 
            margin-left: 0; 
            margin-right: 5%;


            @include respond-to(sm) {
                order: 0; 
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    
}
