.block_7 {
    //max-height: 355px;
    //border: 2px solid red;
    //display: flex;
    //flex-direction: row;
    //align-items: center;
    margin-top: 130px;

    @include respond-to(sm) {
        //flex-direction: column;
        max-height: none;
        margin-top: 80px;
    }


    & .block_7__left {
        //width: 47%;
        //height: 100%;
        max-height: 356px;
        //overflow: hidden;

        @include respond-to(sm) {
            //width: 100%;
            max-height: none;
        }

        @include respond-to(xs) {
            //height: 221px;
        }


        & .block_7__left__img {
            //height: 100%;
            //width: 100%;
            max-height: 355px;
            //display: block;
            
            @include respond-to(sm) {
                max-height: none;

                //display: none;
            }

        }


        & .block_7__left__img_mob {
            //display: none;

            @include respond-to(sm) {
                //display: block;
                //max-width: 100%;
                max-height: none;
            }

            @include respond-to(xs) {
               // max-width: 100%;
               // height: auto;
               // max-height: 221px;
            }
        }
    }


    & .block_7__right {
        //height: auto;
        border-left: 7px solid $light-blue-2;
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
        //align-items: flex-start;
        //width: 50%;
        //margin-left: 3%;
        padding-top: 28px;
        padding-bottom: 28px;
        //padding-left: 32px;

        @include respond-to(sm) {
            //height: 100%;
            margin-left: 24px;
            top: -20px;
            padding-right: 10px;
            padding-top: 54px;
            padding-bottom: 34px;
            min-height: 176px;
        }


        & .block_7__text-wrap {

            @include respond-to(sm) {
                margin-left: 15px;
                width: calc(100% - 17px);
            }


            & .block_7__header {
                font-family: "Play-700";
                font-size: 16px;
                line-height: 24px;
                @include ls(25);
                color: $blue-1;
                //text-transform: uppercase;
                //margin-bottom: 0;
            }
    
            & .block_7__text {
                font-family: "Mulish-400";
                font-size: 16px;
                line-height: 24px;
                @include ls(25);
                color: $black;
                margin-top: 21px;
                //margin-bottom: 0;
            }
    
    
            & .block_7__button {
                //border: 5px solid red;
                min-width: 281px;
                padding-left: 34px;
                padding-right: 34px;
                margin-top: 24px;
            }
            
    


        }

        &.right { //if pictute is on the right
            order: -1; 
            margin-left: 24px !important;  
            //border: 2px solid red;
            //margin-right: 5%;


            @include respond-to(sm) {
                order: 0; 
                margin-left: 0;
                margin-right: 0;
            }


            & .block_7__text-wrap {
                width: calc(92% - 24px - 7px - 24px);

                @include respond-to(sm) {
                    width: calc(100% - 17px);
                }
            }
        }

    }

    
}
