//@import "./heading__header_with-button";
//@import "./heading__subheader-block";
@import "./block_input_1";
@import "./block_input_2";
@import "./cookies";
@import "./block_1";
@import "./block_2";
@import "./block_3";