.heading__subheader-block {

    &__span_1 {
        font-family: "Almarai-700";
        font-size: 18px;
        line-height: 23px;
        color: $black;
    }

    &__span_2 {
        font-family: "Play-700";
        font-size: 18px;
        line-height: 14px;
    }
}