.block_pageheader {
    padding: 45px 25px 29px;
    width: 400px;
    background-color: $dark-blue-1;

    &__header {
        font-family: "Play-700";
        text-align: center;
        color: $white;
    }

    
}